@import load

.button
  margin: 1em auto .5em
  padding:
    top: 10px
    bottom: 15px
  display: block
  max-width: 400px
  @include round-corners
  background-color: $red
  text-align: center
  +transition-duration(.25s)
  +transition-property(background-color)
  &:hover
    background-color: lighten($red, 4%)

.footer__buttons__link
  padding:
    top: 10px
    bottom: 12px
  width: 250px
  background-color: lighten($red, 5%)
  font-weight: bold
  +transition-duration(.25s)
  &:before
    margin-right: 10px
    font:
      family: fontello
      size: 1.5em
  &:hover
    background-color: lighten($red, 10%)
  @media (min-width: 880px)
    float: left
    &:not(:last-child)
      margin-right: 10px
  @media (max-width: 880px)
    margin-bottom: 10px

.footer__buttons--eventbrite
  &:before
    content:  "B"
.footer__buttons--twitter
  &:before
    content:  "T"
.footer__buttons--lanyrd
  &:before
    content:  "L"

.intro__button, .section__button
  font-size: 1.25em

.intro__button
  position: relative
  width: 200px
  z-index: 15
  @media (max-width: 800px)
    border: 2px solid $gray

