@import compass/css3

$red: #ED4543
$white: #FFFFFF
$black: #192126

.footer
  padding: 3.5em 5%
  position: relative
  background-color: $red
  overflow: auto

.footer-callout, .footer-button-link, .footer-text
  text-align: center
  color: $white

.footer-callout
  font:
    size: 2em
    weight: 900
    style: italic

.footer-buttons
  margin: 1em auto 1.5em
  @media (min-width: 880px)
    width: 770px
    overflow: auto
  @media (max-width: 880px)
    width: 250px

.footer-button
  @media (min-width: 880px)
    float: left
    &:not(:last-child)
      margin-right: 10px
  @media (max-width: 880px)
    margin-bottom: 10px

.footer-button-link
  padding:
    top: 10px
    bottom: 12px
  display: block
  width: 250px
  +border-radius(8px)
  background-color: lighten($red, 5%)
  font-weight: bold
  +transition-duration(.25s)
  &:hover
    background-color: lighten($red, 10%)

.footer-button-link-icon
  margin-right: 10px
  font:
    family: fontello
    size: 1.5em
  &:before
    content: attr(data-icon)

.footer-text
  font-size: 14px
  text-transform: uppercase
  letter-spacing: 1px

.made-by-dockyard
  display: block
  float: right
  position: relative
  width: 135px
  +rotate(15deg)
  opacity: .6
  +transition-duration(.25s)
  +transition-property(opacity)
  &:hover
    opacity: 1
  @media (min-width: 880px)
    margin:
      top: -1.5em
      right: 10%
  @media (max-width: 880px)
    margin:
      top: 1.5em
      right: 5%