$red: #ED4543
$white: #FFFFFF

.footer
  padding:
    top: 3em
    bottom: 3.5em
  background-color: $red

.callout
  padding:
    left: 10%
    right: 10%
  font:
    size: 2em
    weight: 900
    style: italic
  text-align: center

.copyright
  text-align: center
  color: $white
  text-transform: uppercase
  letter-spacing: 1px
  font-size: 14px
  