$black: #192126
$red: #ed4543
$gray: #E4E4E4

.intro
  padding-top: 3em
  @media (min-width: 1200px)
    float: left
    width: 25%
    background:
      color: $gray
      image: url(/bg.png)
      size: 300px 300px
    @-moz-document url-prefix()
      max-width: 400px

.fix-intro
  @media (min-width: 1200px)
    position: fixed
    height: 100%

.logo
  margin:
    left: auto
    right: auto
  width: 250px
  height: 250px
  background-image: url(/logo.svg)
  background-image: url(/logo.png)\9

.intro-info, .intro-date
  text-align: center
  color: $black

.intro-info
  width: 80%
  max-width: 500px
  margin: 1em auto

.intro-date
  font-size: 1.5em