@import compass/css3

$black: #192126
$red: #ed4543
$white: #FFFFFF
$gray: #E4E4E4

.intro
  margin-top: 2em
  text-align: center

.logo
  width: 250px
  height: 250px
  margin: 1em auto

.logo-main, .logo-rotate
  display: block
  width: 250px
  height: 250px

.logo-main
  position: absolute
  z-index: 10
  background-image: url(/logo/logo.svg)

.logo-rotate
  background-image: url(/logo/hub.svg)

.intro-info
  width: 80%
  max-width: 500px
  margin: 0 auto 1em

.intro-date
  font-size: 1.5em
  position: relative
  z-index: 10