@import load

.venue-name, .venue-address
  text-align: center

.venue-address
  margin-top: .35em
  display: block

.venue-name
  font-size: 1.5em

.venue-pic
  margin:
    top: 1em
    bottom: 3em
  +border-radius(5px)
  background:
    image: url(/seaport.jpg)
    position: center
    size: cover
  @media (max-width: 800px)
    height: 280px
  @media (min-width: 800px)
    height: 500px
