@import compass/css3

$black: #192126
$red: #ed4543
$white: #FFFFFF

#speakers, #schedule, #sponsors, #location
  margin:
    left: auto
    right: auto
  padding-bottom: 4em

.section-name
  text-align: center
  font:
    size: 8em
    family: blanch, sans-serif
  color: $red
  @media (min-width: 800px)
    line-height: 1.2

.section-wrap
  width: 80%
  max-width: 1000px
  margin:
    left: auto
    right: auto

.section-info
  @media (min-width: 800px)
    max-width: 600px
    margin:
      left: auto
      right: auto
    text-align: center

.section-info-link
  font-style: italic
  color: lighten($black, 45%)
  &:hover
    text-decoration: underline