@import compass/css3

$black: #2D2528
$red: #ed4543
$gray: #E7E7E7
$white: #FFFFFF

#main-wrap
  background:
    color: $black
    size: 54px 58px

.section-wrap
  position: relative
  z-index: 5
  overflow: auto

@media (max-width: 1200px)
  .section-name
    display: none

@media (min-width: 1200px)
  .section-name
    color: $red
    font:
      family: blanch-capsinline
      size: 300px
    position: relative
    line-height: 0
    top: 115px
    left: -135px
