@import load

.main
  @media (min-width: 1200px)
    float: right
    width: 75%
    +box-sizing(border-box)
    border-left: 10px solid $red
    background-color: lighten($black, 9%)
  @media (min-width: 1600px)
    @-moz-document url-prefix()
      width: calc(100% - 400px)

.detail-page
  background-color: lighten($black, 9%)
