@import compass/css3

$black: #192126
$red: #ed4543
$gray: #E4E4E4
$white: #FFFFFF

header
  background-color: $black
  +transition-property(background-color)
  +transition-duration(.25s)
  height: 100px

nav
  display: block
  background-color: $black
  +transition-property(background-color)
  +transition-duration(.25s)

.nav-wrap
  margin: 0 auto
  display: block
  width: 600px
  @media (max-width: 800px)
    width: 100%

.nav-item
  display: inline-block
  float: left
  padding: 10px 0
  +box-sizing(border-box)
  text-align: center
  a
    width: 150px
    padding: 5px 0
    display: inline-block
    color: $white
    line-height: 1
    text-transform: uppercase
    +box-sizing(border-box)
    letter-spacing: 1px
    font-size: 14px
    text:
      decoration: none
