@import compass/css3

$black: #192126
$red: #ed4543
$white: #FFFFFF

#schedule
  background-color: $black

.schedule-date
  text-align: center
  text-transform: uppercase

.schedule-slots
  background-color: lighten($black, 5%)
  margin-top: 1em
  &:not(:last-child)
    margin-bottom: 3em
  &:last-child
    margin-bottom: 1em
  +border-radius(5px)

.schedule-slot
  border-bottom: 2px solid $black
  padding: 1em

.schedule-time
  letter-spacing: 1px
  color: $white
  float: left
  padding-top: 2px

.schedule-talk
  color: white
  text-align: center
  color: lighten($black, 45%)

.schedule-speaker
  font-style: italic

.schedule-more
  text-align: right
  color: lighten($black, 35%)
  float: right
  position: relative
  top: -1.35em
  font:
    family: fontello
  &:before
    content: attr(data-icon)