@import compass/css3

$black: #192126
$red: #ed4543
$gray: #E4E4E4
$white: #FFFFFF

.section-wrap
  position: relative
  z-index: 5
  overflow: auto
  width: 80%
  margin:
    left: auto
    right: auto

@media (max-width: 1200px)
  .section-name
    text-align: center
    font-size: 8em
    font-family: blanch
    color: $red

@media (min-width: 1200px)
  .section-name
    color: $red
    font:
      family: blanch-capsinline
      size: 300px
    position: relative
    line-height: 0
    top: 115px
    left: -135px
