@import compass/css3

$red: #ED4543
$white: #FFFFFF
$black: #192126

#speakers
  background-color: $black

.keynote-speakers
  @media (min-width: 800px)
    margin:
      right: auto
      left: auto
    width: 660px

.speaker
  margin-bottom: 3em
  position: relative
  &:hover
    .speaker-links
      margin-top: -55px
      opacity: 1
  @media (min-width: 425px) and (max-width: 800px)
    float: left
    width: 48%
    &:nth-child(2n+1)
      margin-right: 4%
  @media (min-width: 800px)
    width: 320px
    float: left
    &:first-child
      margin-right: 20px
  //@media (min-width: 425px) and (max-width: 800px)
  //  float: left
  //  width: 48%
  //  &:nth-child(2n+1)
  //    margin-right: 4%
  //@media (min-width: 800px)
  //  width: 32%
  //  float: left
  //  &:nth-child(3n+1), &:nth-child(3n-1)
  //    margin-right: 2%

.speaker-pic
  display: block
  position: relative
  width: 100%
  +border-radius(5px)

.speaker-links-wrap
  position: absolute
  width: 100%

.speaker-links
  margin:
    left: auto
    right: auto
  width: 150px
  opacity: 0
  +transition-duration(.5s)
  li
    float: left

.speaker-link
  margin:
    left: 5px
    right: 5px
  padding-top: 6px
  display: block
  height: 40px
  width: 40px
  +box-sizing(border-box)
  +border-radius(50%)
  background-color: $red
  font:
    family: fontello
    size: 1em
  text-align: center
  color: $white
  +transition-duration(.25s)
  &:before
    content: attr(data-icon)
  &:hover
    background-color: lighten($red, 7%)

.speaker-name, .speaker-company
  clear: both
  background-color: $black
  text-align: center

.speaker-name
  padding-top: .75em
  position: relative
  font-weight: bold
  z-index: 10

.speaker-company
  font-style: italic