@import compass/css3

$red: #ED4543
$white: #FFFFFF
$black: #192126

#speakers
  background-color: $black

.keynote-speakers
  overflow: auto
  @media (min-width: 800px)
    margin:
      right: auto
      left: auto
    width: 660px

.speakers
  max-width: 660px
  @media (min-width: 500px)
    margin:
      right: auto
      left: auto

.keynote-speaker, .speaker
  margin-bottom: 3em
  position: relative
  +transition-duration(.25s)
  +transition-property(opacity)
  &:hover
    opacity: .75

.keynote-speaker
  @media (min-width: 425px)
    float: left
    width: 48%
    &:nth-child(odd)
      margin-right: 4%

.speaker
  float: left
  width: 48%
  @media (max-width: 700px)
    &:nth-child(odd)
      margin-right: 4%
  @media (min-width: 700px)
    width: 32%
    &:not(:nth-child(3n+3))
      margin-right: 2%

.speaker-pic
  display: block
  position: relative
  width: 100%
  +border-radius(5px)

.speaker-name
  padding-top: .75em
  font-weight: bold

.speaker-index
  padding-top: 3em
  &:first-child
    margin-top: -3em

.speaker-pic-index
  margin:
    right: auto
    left: auto
  width: 100%
  max-width: 320px

.speaker-bio, .speaker-talk
  margin:
    right: auto
    left: auto
  max-width: 600px

.speaker-bio
  margin-bottom: 1em

.speaker-links
  margin:
    top: .5em
    bottom: .5em
  text-align: center

.speaker-link
  margin:
    left: 5px
    right: 5px
  padding-top: 6px
  display: inline-block
  height: 40px
  width: 40px
  +box-sizing(border-box)
  +border-radius(50%)
  background-color: $red
  font:
    family: fontello
    size: 1em
  text-align: center
  color: $white
  +transition-duration(.25s)
  &:before
    content: attr(data-icon)
  &:hover
    background-color: lighten($red, 7%)

.break
  margin-top: 3em
  text-align: center
