@import compass/css3

$black: #192126
$white: #FFFFFF

#sponsors
  background-color: lighten($black, 3%)

.sponsor-group
  margin-bottom: 3em
  overflow: auto

.sponsor
  margin:
    right: auto
    bottom: 1em
    left: auto
  position: relative
  width: 100%
  max-width: 660px
  +border-radius(5px)
  background-color: $white

.sponsor-logo-wrap
  padding:
    top: 20px
    bottom: 20px
  display: block

.sponsor-logo
  margin:
    left: auto
    right: auto
  height: 100px
  width: 250px

.sponsor-yesware
  background-color: #8DC23C
.sponsor-logo-yesware
  background-image: url(/sponsors/yesware.png)

.sponsor-cogo
  background-color: #272526
.sponsor-logo-cogo
  background-image: url(/sponsors/cogo.png)