@import compass/css3

$black: #363636
$red: #ed4543
$gray: #E7E7E7
$white: #FFFFFF

.sponsor-logo
  display: block
  background-color: $white
  +border-radius(5px)
  @media (min-width: 800px) and (max-width: 1000px)
    height: 150px
  img
    width: 200px
    margin: 0 auto
    display: block
    padding: 1em
    @media (min-width: 500px)
      width: 250px
      padding: 1.5em