@import compass/css3

$black: #363636
$red: #ed4543
$gray: #E7E7E7
$white: #FFFFFF

.sponsor
  margin-bottom: 1em
  @media (min-width: 800px) and (max-width: 1000px)
    float: left
    width: 49%
    margin-right: 2%
    &:nth-child(2n+2)
      margin-right: 0

.sponsor-logo
  display: block
  background-color: $white
  +border-radius(5px)
  @media (min-width: 800px) and (max-width: 1000px)
    height: 150px
  img
    width: 200px
    margin: 0 auto
    display: block
    padding: 1em
    @media (min-width: 500px)
      width: 250px
      padding: 2em