.terrier-wrapper
  margin:
    left: auto
    right: auto
  width: 225px
  height: 325px
  position: relative

.terrier
  width: 100%
  height: 325px
  position: absolute
  top: 3.45em
  background:
    image: url(/terrier.png)
    size: 225px 325px
  z-index: 100

//.terrier-wrapper
//  margin: 0 auto
//  width: 225px
//  height: 300px
//  position: relative
//  overflow: hidden
//
//.terrier
//  width: 100%
//  height: 300px
//  position: absolute
//  top: 23.35em
//  background:
//    image: url(/terrier.png)
//    size: 225px 300px