@import compass/css3

$red: #ED4543
$white: #FFFFFF

.animation
  margin:
    left: auto
    right: auto
  display: none\9
  position: relative
  height: 325px
  width: 225px
  &:hover
    .shine
      left: 7.5em

.terrier
  position: relative
  top: 3.45em
  height: 100%
  background:
    image: url(/terrier.svg)
    size: 225px 325px
  z-index: 10

.shine
  position: absolute
  top: 13.25em
  left: 4em
  z-index: 5
  +transition-duration(.2s)

.line
  margin-bottom: -8px
  height: 2.5px
  width: 45px
  background-color: $white
  +rotate(45deg)

.line2
  position: relative
  left: -1em
  height: 4px
  width: 50px
  background-color: $white
  +rotate(45deg)

.red
  margin:
    left: auto
    right: auto
  position: relative
  top: -6em
  height: 50px
  width: 50px
  background-color: $red