@import compass/css3

.triangle
  @media (max-width: 600px)
    height: 80px
    background-size: 100% 80px
  @media (min-width: 600px) and (max-width: 800px)
    height: 120px
    background-size: 100% 120px
  @media (min-width: 800px) and (max-width: 1200px)
    height: 180px
    background-size: 100% 180px
  @media (min-width: 1200px)
    display: none

.triangle-start
  background-image: url(/triangles/triangle.png)
  @media (max-width: 600px)
    margin-top: -5.15em
  @media (min-width: 600px) and (max-width: 800px)
    margin-top: -7.5em
  @media (min-width: 800px)
    margin-top: -5em

.triangle-end
  margin-bottom: 8em
  background-image: url(/triangles/triangle-end.png)

.triangle-start-index
  background-image: url(/triangles/triangle-end.png)
  +rotate(180deg)
  @media (max-width: 600px)
    margin-top: -5.15em
  @media (min-width: 600px) and (max-width: 800px)
    margin-top: -7.5em
  @media (min-width: 800px)
    margin-top: -5em
