!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston, MA Oct 12 - 13, 2013
    %link{:href => '/assets/application.css', :rel => 'stylesheet'}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,400italic,900italic", :rel => "stylesheet", :type => "text/css"}
    %script{:src => '/assets/application.js', :type => 'text/javascript'}
    %meta{:name => 'description', :content => 'Wicked Good Ruby Conf is a Ruby conference '}
    %meta{:name => 'keywords',    :content => 'ruby on rails, rails, ruby, ruby on rails training, ruby application development, ruby on rails application development, ember application development, ember.js application development, software application development, web, web application development, mobile, mobile application development, ios, ios application development, iphone, iphone application development, android, android application development, postgres, startups, enterprise, Boston, MA, Massachusetts, for hire'}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
    /[if lt IE 9]
      <script src='assets/html5shiv.js'></script>
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39682399-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .intro
      .logo
      %p.intro-info
        Join us for a two-day single-track Ruby conference at the Seaport World Trade Center in Boston, MA!
      %p.intro-date Oct 12-13, 2013

      %a.button.button-register{:href => 'http://wickedgoodruby2013.eventbrite.com/', :target => '_blank'} Register

    .triangle.triangle-start

    .main
      %section#speakers
        %h1.section-name Speakers
        .section-wrap
          %ul.keynote-speakers
            %li.speaker
              %img.speaker-pic{:src => '/speakers/sandi.jpg', :alt => 'Sandi Metz'}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => 'https://twitter.com/sandimetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li
                    %a.speaker-link{:href => 'https://github.com/skmetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li
                    %a.speaker-link{:href => 'http://sandimetz.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Sandi Metz
            %li.speaker
              %img.speaker-pic{:src => '/speakers/foy.jpg', :alt => 'Foy Savas'}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => 'https://twitter.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li
                    %a.speaker-link{:href => 'https://github.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li
                    %a.speaker-link{:href => 'http://www.foysavas.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Foy Savas

          %p.section-info
            We are looking for a total of fourteen speakers! Do you want to present at Wicked Good Ruby Conf? Please submit your RFP via pull request below.
          %a.button{:href => 'https://github.com/wickedgoodruby/rfp', :target => '_blank'} Submit a Proposal

      %section#sponsors
        %h1.section-name Sponsors
        .section-wrap

          .sponsor-group
            %h2.sponsor-level &mdash; Wicked Good Sponsor &mdash;
            .sponsor.sponsor-yesware
              %a.sponsor-logo-wrap{:href => 'http://www.yesware.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-yesware

          .sponsor-group
            %h2.sponsor-level &mdash; Good Sponsor &mdash;
            .sponsor.sponsor-cogo
              %a.sponsor-logo-wrap{:href => 'http://cogolabs.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-cogo

          %p.section-info
            Interested in sponsoring Wicked Good Ruby Conf? Please take a look at our sponsorship prospectus pdf below for more information and email
            %a.section-info-link{:href => 'mailto:sponsor@wickedgoodruby.com'} sponsor@wickedgoodruby.com
            to get in touch with us.
          %a.button{:href => 'sponsorship-prospectus.pdf'} View our Prospectus

      %section#location
        %h1.section-name Location
        .section-wrap
          %h2.venue-name Amphitheater: Seaport World Trade Center
          %a.section-info-link.venue-address{:href => 'http://goo.gl/maps/7wmkf', :target => '_blank'} 200 Seaport Boulevard Boston, MA 02210
          .venue-pic
          %p.section-info
            Wicked Good Ruby Conf is going to be held at the Amphitheater in the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of
            %a.section-info-link{:href => 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', :target => '_blank'} single and double rooms
            for conference attendees. For more details on the hotel's accommodations, please visit
            %a.section-info-link{:href => 'http://www.seaportboston.com', :target => '_blank'} seaportboston.com
            &#046;

      .triangle.triangle-end

      .animation
        .terrier
        .shine
          .line
          .line2
        .red

      %footer.footer
        %h2.footer-callout Get excited for Boston's first Ruby conference!
        %ul.footer-buttons
          %li.footer-button
            %a.footer-button-link{:href => 'http://wickedgoodruby2013.eventbrite.com/', :target => '_blank'}
              %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'B'}
              Buy tix on Eventbrite
          %li.footer-button
            %a.footer-button-link{:href => 'https://twitter.com/WickedGoodRuby', :target => '_blank'}
              %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'T'}
              Follow us on Twitter
          %li.footer-button
            %a.footer-button-link{:href => 'http://lanyrd.com/2013/wickedgoodruby/', :target => '_blank'}
              %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'L'}
              Track us on Lanyrd
        %p.footer-text &copy; Copyright 2013 Wicked Good Ruby Conf
        %p.footer-text All Rights Reserved
        %a{:href => 'http://dockyard.com/', :target => '_blank'}
          %img.made-by-dockyard{:onerror => "this.onerror = null; this.src=\"/made-by-dockyard.png\"", :src => '/made-by-dockyard.svg', :alt => 'Made by DockYard'}

  %body