!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston, MA Oct 5 - 6, 2013
    %link{:href => '/assets/application.css', :rel => 'stylesheet'}
    %script{:src => '/assets/application.js', :type => 'text/javascript'}
    %meta{:name => 'description', :content => 'Wicked Good Ruby Conf is a Ruby conference '}
    %meta{:name => 'keywords',    :content => 'ruby on rails, rails, ruby, ruby on rails training, ruby application development, ruby on rails application development, ember application development, ember.js application development, software application development, web, web application development, mobile, mobile application development, ios, ios application development, iphone, iphone application development, android, android application development, postgres, startups, enterprise, Boston, MA, Massachusetts, for hire'}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,900italic", :rel => "stylesheet", :type => "text/css"}

  %body

    %nav.main-nav
      %ul.nav-wrap
        %li.nav-item
          %a{:href => '#speakers'} Speakers
        %li.nav-item
          %a{:href => '#sponsors'} Sponsors
        %li.nav-item
          %a{:href => '#location'} Location
        %li.nav-item
          %a{:href => '#'} Register

    .intro
      .logo
        .logo-main
        .logo-rotate
      %p.intro-info
        %span Join us
        for a two-day single-track Ruby conference in "The Hub". Prior to the conference there will be educational workshops, and afterwards, a code retreat.
      %p.intro-date Oct 5-6, 2013

    %a.button.button-register{:href => 'http://www.eventbrite.com/', :target => '_blank'} Register

    .triangle.triangle-start

    #main-wrap
      #main
        %section#speakers
          %h1.section-name Speakers
          .section-wrap
            %ul
              %li.speaker
                %img.speaker-pic{:src => '/speakers/angelo-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @cssboy
                //    %a{:href => '#'}
                //      %span G
                //      cssboy
                //    %a{:href => '#'}
                //      %span ⌂
                //      cssboy.com
                %p.speaker-name Angelo Simeoni
                %p.speaker-company DockYard, LLC.
              %li.speaker
                %img.speaker-pic{:src => '/speakers/dan_m-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @_danmcclain
                //    %a{:href => '#'}
                //      %span G
                //      danmcclain
                //    %a{:href => '#'}
                //      %span ⌂
                //      danmcclain.net
                %p.speaker-name Dan McClain
                %p.speaker-company DockYard, LLC.
              %li.speaker
                %img.speaker-pic{:src => '/speakers/amanda-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @acacheung
                //    %a{:href => '#'}
                //      %span G
                //      acacheung
                //    %a{:href => '#'}
                //      %span ⌂
                //      acacheung.com
                %p.speaker-name Amanda Cheung
                %p.speaker-company DockYard, LLC.
              %li.speaker
                %img.speaker-pic{:src => '/speakers/doug-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @DougYun
                //    %a{:href => '#'}
                //      %span G
                //      duggie
                //    %a{:href => '#'}
                //      %span ⌂
                //      dougyun.com
                %p.speaker-name Doug Yun
                %p.speaker-company DockYard, LLC.
              %li.speaker
                %img.speaker-pic{:src => '/speakers/angelo-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @cssboy
                //    %a{:href => '#'}
                //      %span G
                //      cssboy
                //    %a{:href => '#'}
                //      %span ⌂
                //      cssboy.com
                %p.speaker-name Angelo Simeoni
                %p.speaker-company DockYard, LLC.
              %li.speaker
                %img.speaker-pic{:src => '/speakers/dan_m-square.png', :alt => ''}
                //.speaker-overlay
                //  .speaker-links
                //    %a{:href => '#'}
                //      %span T
                //      @_danmcclain
                //    %a{:href => '#'}
                //      %span G
                //      danmcclain
                //    %a{:href => '#'}
                //      %span ⌂
                //      danmcclain.net
                %p.speaker-name Dan McClain
                %p.speaker-company DockYard, LLC.
              %p.section-info
                Do you want to present at Wicked Good Ruby?
                %a.section-info-link{:href => 'https://github.com/wickedgoodruby/wickedgoodruby.com', :target => '_blank'} Submit your proposal in the form of a pull request through our GitHub.
              %a.button{:href => '#'} Submit Your Proposal

        %section#sponsors
          %h1.section-name Sponsors
          .section-wrap

            .sponsor-group
              %h2.sponsor-level &mdash; Gold &mdash;
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://www.heroku.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-heroku

            .sponsor-group
              %h2.sponsor-level &mdash; Silver &mdash;
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://www.engineyard.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-engineyard
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://pivotallabs.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-pivotal

            .sponsor-group
              %h2.sponsor-level &mdash; Bronze &mdash;
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://www.livingsocial.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-livingsocial
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://www.google.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-google
              .sponsor
                %a.sponsor-logo-wrap{:href => 'http://www.groupon.com/', :target => '_blank'}
                  .sponsor-logo.sponsor-logo-groupon

            %p.section-info
              Interested in sponsoring Wicked Good Ruby Conf?
              %a.section-info-link{:href => 'mailto:sponsor@wickedgoodruby.com'} Email us for information regarding sponsorship.
            %a.button{:href => '#'} Become a Sponsor

        %section#location
          %h1.section-name Location
          .section-wrap
            %h1.venue-name The Wilbur Theatre
            %a.section-info-link.venue-address{:href => 'https://maps.google.com/maps?q=Wilbur+Theatre,+Tremont+Street,+Boston,+MA&hl=en&sll=42.036922,-71.683501&sspn=4.887368,7.163086&oq=wilbur&hq=Wilbur+Theatre,+Tremont+Street,+Boston,+MA&t=m&z=15&iwloc=A', :target => '_blank'} 246 Tremont Street Boston, MA 02116
            .venue-pic
            %p.section-info
              Wicked Good Ruby Conf is going to be held at the Wilbur Theatre in downtown Boston. Visit
              %a.section-info-link{:href => 'http://www.thewilburtheatre.com/', :target => '_blank'} thewilburtheatre.com
              for more information regarding the venue.

    .triangle.triangle-end

    .terrier

    %footer.footer
      %h2.footer-callout Get excited for Boston's first Ruby conference!
      %ul.footer-buttons
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'B'}
            Register on Guestlist
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'T'}
            Follow us on Twitter
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'L'}
            Track us on Lanyrd
      %p.footer-text &copy; Copyright 2013 Wicked Good Ruby Conf
      %p.footer-text
        Designed &amp; built by
        %span
          %a.footer-text-link{:href => 'http://dockyard.com/', :target => '_blank'} DockYard

    :javascript

      //$('footer').waypoint(function() {
      //  $('.terrier').delay(300).transition({y: '-20em'});
      //}, { offset: 'bottom-in-view' });

      $('a[href^="#"]').bind('click.smoothscroll',function (e) {
          e.preventDefault();
          var target = this.hash;
              $target = $(target);
          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 500, 'swing', function () {
              window.location.hash = target;
          });
      });
      
      $('.section-name').fitText(.3, {maxFontSize: '250px'});

  %body