!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston's Annual Ruby Conference
    %link{href: '/assets/splash/application.css', rel: 'stylesheet'}
    %link{href: "http://fonts.googleapis.com/css?family=Lato:400,400italic,900italic", rel: "stylesheet", type: "text/css"}
    %meta{name: 'description', content: 'Wicked Good Ruby Conf is a two day, double track Ruby conference being held in Boston, Massachusetts'}
    %meta{name: 'keywords',    content: 'ruby, conference, rails, jruby, ios, rubymotion, postgresql'}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name: "viewport"}
    /[if lt IE 9]
      <script src='assets/html5shiv.js'></script>
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39682399-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .main
      %img.logo{src: '/splash/script.svg'}
      %p
        Thanks for all the support for
        %a.text-link{href: '/2013'} Wicked Good Ruby 2013
        &#046; Stay tuned for next year&rsquo;s conference!
      %a.twitter{href: 'https://twitter.com/WickedGoodRuby', target: '_blank'}
        %span.is-hidden Twitter
      %a.flickr{href: 'http://www.flickr.com/photos/106073835@N07/sets/72157636770736635/', target: '_blank'}
        %span.is-hidden Flickr
