.triangle.triangle-start

%section#speakers
  %h1.section-title Speakers
  .section-wrap
    %h2.section-subtitle &mdash; Keynote Speakers &mdash;
    %ul.keynote-speakers
      %li.keynote-speaker
        %a{:href => '/speakers#metz'}
          %img.speaker-pic{:src => '/speakers/sandi.jpg', :alt => 'Sandi Metz'}
          %p.speaker-name.italic
            Sandi Metz
      %li.keynote-speaker
        %a{:href => '/speakers#savas'}
          %img.speaker-pic{:src => '/speakers/foy.jpg', :alt => 'Foy Savas'}
          %p.speaker-name.italic
            Foy Savas
    %h2.section-subtitle &mdash; Speakers &mdash;
    %ul.speakers
      %li.speaker
        %a{:href => '/speakers#aimonetti'}
          %img.speaker-pic{:src => '/speakers/matt.jpg', :alt => 'Matt Aimonetti'}
          %p.speaker-name.italic
            Matt Aimonetti
      %li.speaker
        %a{:href => '/speakers#cheng'}
          %img.speaker-pic{:src => '/speakers/joanne.jpg', :alt => 'Joanne Cheng'}
          %p.speaker-name.italic
            Joanne Cheng
      %li.speaker
        %a{:href => '/speakers#liles'}
          %img.speaker-pic{:src => '/speakers/bryan.jpg', :alt => 'Bryan Liles'}
          %p.speaker-name.italic
            Bryan Liles
      %li.speaker
        %a{:href => '/speakers#mcanally'}
          %img.speaker-pic{:src => '/speakers/jeremy.jpg', :alt => 'Jeremy McAnally'}
          %p.speaker-name.italic
            Jeremy McAnally
      %li.speaker
        %a{:href => '/speakers#mcclain'}
          %img.speaker-pic{:src => '/speakers/dan.jpg', :alt => 'Dan McClain'}
          %p.speaker-name.italic
            Dan McClain
      %li.speaker
        %a{:href => '/speakers#mccoy'}
          %img.speaker-pic{:src => '/speakers/sheena.jpg', :alt => 'Sheena McCoy'}
          %p.speaker-name.italic
            Sheena McCoy
      %li.speaker
        %a{:href => '/speakers#myers'}
          %img.speaker-pic{:src => '/speakers/rachel.jpg', :alt => 'Rachel Myers'}
          %p.speaker-name.italic
            Rachel Myers
      %li.speaker
        %a{:href => '/speakers#scott'}
          %img.speaker-pic{:src => '/speakers/zachary.jpg', :alt => 'Zachary Scott'}
          %p.speaker-name.italic
            Zachary Scott
      %li.speaker
        %a{:href => '/speakers#segal'}
          %img.speaker-pic{:src => '/speakers/loren.jpg', :alt => 'Loren Segal'}
          %p.speaker-name.italic
            Loren Segal
      %li.speaker
        %a{:href => '/speakers#somerville'}
          %img.speaker-pic{:src => '/speakers/charlie.jpg', :alt => 'Charlie Somerville'}
          %p.speaker-name.italic
            Charlie Somerville

    %p.section-info
      We have a great lineup of talks for you. We preferred presentations that have not yet made the talking circuit. Get excited because most of these are new!
    %a.button{:href => '/speakers'} About the Speakers

%section#schedule
  %h1.section-title Schedule
  .section-wrap

    %h2.schedule-date Friday, Oct. 11
    %ul.schedule-slots
      %li.schedule-slot
        %p.schedule-time 9a&ndash;6p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Intro to Rails Workshop by JumpstartLab
        %p.schedule-location DockYard HQ

    %h2.schedule-date Saturday, Oct. 12
    %ul.schedule-slots
      %li.schedule-slot
        %p.schedule-time 9a&ndash;10a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Breakfast by Stroopwafel
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 10a&ndash;11a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Schemas for the Real World by Carina Zona
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 11a&ndash;12p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} A Math Proof Is Like a Unit Test by H. Rivers
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 12p&ndash;1p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Go Ahead, Make a Mess by Steven Ragnorok
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 10a&ndash;11a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Schemas for the Real World by Carina Zona
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 11a&ndash;12p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} A Math Proof Is Like a Unit Test by H. Rivers
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 12p&ndash;1p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Go Ahead, Make a Mess by Steven Ragnorok
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room

    %h2.schedule-date Sunday, Oct. 13
    %ul.schedule-slots
      %li.schedule-slot
        %p.schedule-time 9a&ndash;10a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Breakfast by New Relic
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 10a&ndash;11a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Schemas for the Real World by Carina Zona
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 11a&ndash;12p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Grasping Complexity with Both Hands
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 12p&ndash;1p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} High Performance Ruby
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 10a&ndash;11a
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Schemas for the Real World by Carina Zona
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 11a&ndash;12p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} A Math Proof Is Like a Unit Test by H. Rivers
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room
      %li.schedule-slot
        %p.schedule-time 12p&ndash;1p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Go Ahead, Make a Mess by Steven Ragnorok
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{:href => '/schedule#'} People Patterns by Joe O'Brien
        %p.schedule-location Offshoot Room

    %h2.schedule-date Monday, Oct. 14
    %ul.schedule-slots
      %li.schedule-slot
        %p.schedule-time 9a&ndash;6p
        %a.schedule-talk.section-info-link{:href => '/schedule#'} Code Retreat by DockYard
        %p.schedule-location DockYard HQ
    %p.section-info
      We apologize for making you have to choose between talks because we know they are all going to be awesome. For more details, click the link below.
    %a.button{:href => '/schedule'} About the Talks

%section#location
  %h1.section-title Location
  .section-wrap
    %h2.venue-name Amphitheater: Seaport World Trade Center
    .venue-pic
    %p.section-info
      Wicked Good Ruby Conf is going to be held at the Amphitheater in the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of single and double rooms for conference attendees.
      %a.section-info-link{:href => 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', :target => '_blank'} Be sure to use this link to book your room at the special rate.
      For more details on the hotel's accommodations, please visit
      %a.section-info-link{:href => 'http://www.seaportboston.com', :target => '_blank'} seaportboston.com
      &#046;
    %a.button{:href => 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', :target => '_blank'} Book a room

%section#sponsors
  %h1.section-title Sponsors
  .section-wrap

    .sponsor-group
      %h2.section-subtitle &mdash; Wicked Good Sponsor &mdash;
      .sponsor.sponsor-yesware
        %a.sponsor-logo-wrap{:href => 'http://www.yesware.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-yesware

    .sponsor-group
      %h2.section-subtitle &mdash; Workshop Sponsor &mdash;
      .sponsor.sponsor-jumpstart
        %a.sponsor-logo-wrap{:href => 'http://jumpstartlab.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-jumpstart

    .sponsor-group
      %h2.section-subtitle &mdash; Really Good Sponsors &mdash;
      %p.section-info.italic 4 slots left!

    .sponsor-group
      %h2.section-subtitle &mdash; Very Good Sponsors &mdash;
      .sponsor.sponsor-fiksu
        %a.sponsor-logo-wrap{:href => 'http://www.fiksu.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-fiksu
      %p.section-info.italic 7 slots left!

    .sponsor-group
      %h2.section-subtitle &mdash; Good Sponsors &mdash;
      .sponsor.sponsor-cogo
        %a.sponsor-logo-wrap{:href => 'http://cogolabs.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-cogo
      %p.section-info.italic Unlimited slots

    .sponsor-group
      %h2.section-subtitle &mdash; Kinda Good Sponsors &mdash;
      .sponsor.sponsor-visible
        %a.sponsor-logo-wrap{:href => 'http://www.visiblemeasures.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-visible
      %p.section-info.italic Unlimited slots

    %p.section-info
      Interested in sponsoring Wicked Good Ruby Conf? Please take a look at our sponsorship prospectus pdf below for more information and email
      to get in touch with us.
    %a.button{:href => 'sponsorship-prospectus.pdf'} View our Prospectus

.triangle.triangle-end

