!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston, MA Oct 5 - 6, 2013
    %link{:href => '/assets/application.css', :rel => 'stylesheet'}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,900italic", :rel => "stylesheet", :type => "text/css"}
    %script{:src => '/assets/application.js', :type => 'text/javascript'}
    %meta{:name => 'description', :content => 'Wicked Good Ruby Conf is a Ruby conference '}
    %meta{:name => 'keywords',    :content => 'ruby on rails, rails, ruby, ruby on rails training, ruby application development, ruby on rails application development, ember application development, ember.js application development, software application development, web, web application development, mobile, mobile application development, ios, ios application development, iphone, iphone application development, android, android application development, postgres, startups, enterprise, Boston, MA, Massachusetts, for hire'}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}

  %body
    .intro
      .logo
      %p.intro-info
        Join us for a two-day single-track Ruby conference in "The Hub". Prior to the conference there will be educational workshops, and afterwards, a code retreat.
      %p.intro-date Oct 5-6, 2013

    %a.button.button-register{:href => 'http://www.eventbrite.com/', :target => '_blank'} Register

    .triangle.triangle-start

    .main
      %section#speakers
        %h1.section-name Speakers
        .section-wrap
          %ul
            %li.speaker
              %img.speaker-pic{:src => '/speakers/angelo.jpg', :alt => '',}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Angelo Simeoni
              %p.speaker-company DockYard, LLC.
            %li.speaker
              %img.speaker-pic{:src => '/speakers/dan.jpg', :alt => ''}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Dan McClain
              %p.speaker-company DockYard, LLC.
            %li.speaker
              %img.speaker-pic{:src => '/speakers/amanda.jpg', :alt => ''}
              .speaker-links-wrap 
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Amanda Cheung
              %p.speaker-company DockYard, LLC.
            %li.speaker
              %img.speaker-pic{:src => '/speakers/doug.jpg', :alt => ''}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Doug Yun
              %p.speaker-company DockYard, LLC.
            %li.speaker
              %img.speaker-pic{:src => '/speakers/angelo.jpg', :alt => ''}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Angelo Simeoni
              %p.speaker-company DockYard, LLC.
            %li.speaker
              %img.speaker-pic{:src => '/speakers/dan.jpg', :alt => ''}
              .speaker-links-wrap
                %ul.speaker-links
                  %li
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
                  %li               
                    %a.speaker-link{:href => '#', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
              %p.speaker-name Dan McClain
              %p.speaker-company DockYard, LLC.
            %p.section-info
              Do you want to present at Wicked Good Ruby?
              %a.section-info-link{:href => 'https://github.com/wickedgoodruby/wickedgoodruby.com', :target => '_blank'} Submit your proposal in the form of a pull request through our GitHub.
            %a.button{:href => '#'} Submit Your Proposal

      %section#schedule
        %h1.section-name Schedule
        .section-wrap

          %h2.schedule-date Friday, Oct. 4
          %ul.schedule-slots
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 9a&ndash;6p
                %h3.schedule-talk Intro to Ruby on Rails Workshop
                %h3.schedule-speaker Launch Academy
              %p.schedule-summary Be part of a 10 week, intensive program transforming 25 eager learners into rising stars within the Boston web development community. Learn web development with Ruby On Rails by building real software under the guidance of established software developers. Leverage our mentors and fellow students to accelerate your learning in a dynamic learning environment.

          %h2.schedule-date Saturday, Oct. 5
          %ul.schedule-slots
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 9a&ndash;10a
                %h3.schedule-talk Breakfast
                %h3.schedule-speaker New Relic
              %p.schedule-summary Saturday's continental breakfast is sponsored by Yesware. There will be vegetarian &amp; vegan options.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 10a&ndash;11a
                %h3.schedule-talk People Patterns
                %h3.schedule-speaker Joe O'Brien
              %p.schedule-summary We spend a large portion of our time thinking about code and technical project issues. What about the people side of things? The majority of project failures occur because of people, not technology. What we need are guides that help us navigate the waters between the people around us.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 11a&ndash;12p
                %h3.schedule-talk Why Is A Math Proof Like A Unit Test?
                %h3.schedule-speaker Heather Rivers
              %p.schedule-summary Once the realm of shadowy government organizations, cryptography now permeates computing. Unfortunately, it is difficult to get correct and most developers know just enough to be harmful for their projects. Together, we’ll go through the basics of modern cryptography and where things can go horribly wrong.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 12p&ndash;1p
                %h3.schedule-talk Go Ahead, Make a Mess
                %h3.schedule-speaker Steven Ragnorok
              %p.schedule-summary Square manages big data, high uptime, secure payment info and large teams in an agile Rails environment. It's hard. Our system has outgrown the patterns of a young Rails app and some of what used to help has started to hurt. It's painful to have your email templates in the same project as your API backend. It's agonizing to use your main datastore for analytics, and it hurts to throw code into ./lib or require unnecessary gems. This talk is about how we've turned individual Rails pieces into separate services and scaled our codebase, data, and integration testing practices to support multiple big teams efficiently.

          %h2.schedule-date Sunday, Oct. 6
          %ul.schedule-slots
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 9a&ndash;10a
                %h3.schedule-talk Breakfast
                %h3.schedule-speaker New Relic
              %p.schedule-summary Saturday's continental breakfast is sponsored by Yesware. There will be vegetarian &amp; vegan options.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 10a&ndash;11a
                %h3.schedule-talk Schemas for the Real World
                %h3.schedule-speaker Carina Zona
              %p.schedule-summary We spend a large portion of our time thinking about code and technical project issues. What about the people side of things? The majority of project failures occur because of people, not technology. What we need are guides that help us navigate the waters between the people around us.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 11a&ndash;12p
                %h3.schedule-talk Grasping Complexity with Both Hands
                %h3.schedule-speaker Steven Ragnorok
              %p.schedule-summary Square manages big data, high uptime, secure payment info and large teams in an agile Rails environment. It's hard. Our system has outgrown the patterns of a young Rails app and some of what used to help has started to hurt. It's painful to have your email templates in the same project as your API backend. It's agonizing to use your main datastore for analytics, and it hurts to throw code into ./lib or require unnecessary gems. This talk is about how we've turned individual Rails pieces into separate services and scaled our codebase, data, and integration testing practices to support multiple big teams efficiently.
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 12p&ndash;1p
                %h3.schedule-talk High Performance Ruby
                %h3.schedule-speaker Heather Rivers
              %p.schedule-summary Square manages big data, high uptime, secure payment info and large teams in an agile Rails environment. It's hard. Our system has outgrown the patterns of a young Rails app and some of what used to help has started to hurt. It's painful to have your email templates in the same project as your API backend. It's agonizing to use your main datastore for analytics, and it hurts to throw code into ./lib or require unnecessary gems. This talk is about how we've turned individual Rails pieces into separate services and scaled our codebase, data, and integration testing practices to support multiple big teams efficiently.

          %h2.schedule-date Monday, Oct. 7
          %ul.schedule-slots
            %li.schedule-slot
              %a.schedule-info{:href => '#'}
                %h3.schedule-time 9a&ndash;6p
                %h3.schedule-talk Code Retreat
                %h3.schedule-speaker Corey Haines
              %p.schedule-summary Join Corey Haines at the DockYard office on Tremont Street for a day-long hackathon. Work on any project you like or have some fun with your peers.

      %section#sponsors
        %h1.section-name Sponsors
        .section-wrap

          .sponsor-group
            %h2.sponsor-level &mdash; Gold &mdash;
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://www.heroku.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-heroku

          .sponsor-group
            %h2.sponsor-level &mdash; Silver &mdash;
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://www.engineyard.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-engineyard
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://pivotallabs.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-pivotal

          .sponsor-group
            %h2.sponsor-level &mdash; Bronze &mdash;
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://www.livingsocial.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-livingsocial
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://www.google.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-google
            .sponsor
              %a.sponsor-logo-wrap{:href => 'http://www.groupon.com/', :target => '_blank'}
                .sponsor-logo.sponsor-logo-groupon

          %p.section-info
            Interested in sponsoring Wicked Good Ruby Conf?
            %a.section-info-link{:href => 'mailto:sponsor@wickedgoodruby.com'} Email us for information regarding sponsorship.
          %a.button{:href => '#'} Become a Sponsor

      %section#location
        %h1.section-name Location
        .section-wrap
          %h2.venue-name Amphitheater: Seaport World Trade Center
          %a.section-info-link.venue-address{:href => 'http://goo.gl/maps/7wmkf', :target => '_blank'} 200 Seaport Boulevard Boston, MA 02210
          .venue-pic
          %p.section-info
            Wicked Good Ruby Conf is going to be held at the Amphitheater in the Seaport Hotel &amp; World Trade Center in downtown Boston. We recommend staying at their hotel if you're looking for a place to stay. We have reserved a number of
            %a.section-info-link{:href => 'http://www.seaportboston.com/accommodation/Premier-Two-Doubles.aspx', :target => '_blank'} double rooms
            for conference attendees. For more details on the hotel's accommodations, please visit
            %a.section-info-link{:href => 'http://www.seaportboston.com/accommodation/overview.aspx', :target => '_blank'} seaportboston.com
            &#046;

    .triangle.triangle-end

    .animation
      .terrier
      .shine
        .line
        .line2
      .red

    %footer.footer
      %h2.footer-callout Get excited for Boston's first Ruby conference!
      %ul.footer-buttons
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'B'}
            Register on Guestlist
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'T'}
            Follow us on Twitter
        %li.footer-button
          %a.footer-button-link{:href => '#', :target => '_blank'}
            %span.footer-button-link-icon{'aria-hidden' => 'true', 'data-icon' => 'L'}
            Track us on Lanyrd
      %p.footer-text &copy; Copyright 2013 Wicked Good Ruby Conf
      %p.footer-text
        Designed &amp; built by
        %span
          %a.footer-text-link{:href => 'http://dockyard.com/', :target => '_blank'} DockYard

    :javascript

      $('a[href^="#"]').bind('click.smoothscroll',function (e) {
          e.preventDefault();
          var target = this.hash;
              $target = $(target);
          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 500, 'swing', function () {
              window.location.hash = target;
          });
      });

      $('.section-name').fitText(.3, {maxFontSize: '225px'});

      $('.schedule-slot').click(function(){
        $(this).find('.schedule-summary').slideToggle(function() {
        });
      });

  %body