!!!5

%html
  %head
    %link{:href => '/application.css', :rel => 'stylesheet'}
    %title Wicked Good Ruby Conf - Boston, MA Oct 5 - 6, 2013

  %body
    %h1
      Wicked Good Ruby Conf
    %h2
      Boston, MA
    %h2
      October 5 - 6, 2013

    %p
      Want to help or sponsor?
      %a{:href => 'mailto:conf@bostonrb.org'} Contact conf@bostonrb.org
