!!!5

%html
  %head
    %link{:href => '/application.css', :rel => 'stylesheet'}
    %title Wicked Good Ruby Conf - Boston, MA Oct 5 - 6, 2013

  %body
    %div
      .square
        %img{:src => 'logo.png'}
      %h2
        Oct 5 - 6, 2013 Boston, MA
      %h2 Want to help or sponsor?
      %h2
        %a{:href => 'mailto:conf@bostonrb.org'} Contact conf&#64;bostonrb.org
