.triangle.triangle-start

%section.darkest
  %h1.section-title Speakers
  .section-wrap
    %ul.keynote-speakers
      %li.keynote-speaker
        %a{:href => '/speakers#metz'}
          %img.speaker-pic{:src => '/speakers/sandi.jpg', :alt => 'Sandi Metz'}
          %h3.speaker-name.blue-text Sandi Metz
      %li.keynote-speaker
        %a{:href => '/speakers#savas'}
          %img.speaker-pic{:src => '/speakers/foy.jpg', :alt => 'Foy Savas'}
          %h3.speaker-name.blue-text Foy Savas
    %ul.speakers
      %li.speaker
        %a{:href => '/speakers#aimonetti'}
          %img.speaker-pic{:src => '/speakers/matt.jpg', :alt => 'Matt Aimonetti'}
          %h3.speaker-name.blue-text Matt Aimonetti
      %li.speaker
        %a{:href => '/speakers#alcorn'}
          %img.speaker-pic{:src => '/speakers/alcorn.jpg', :alt => 'Doug Alcorn'}
          %h3.speaker-name.blue-text Doug Alcorn
      %li.speaker
        %a{:href => '/speakers#baker'}
          %img.speaker-pic{:src => '/speakers/baker.jpg', :alt => 'Steven Baker'}
          %h3.speaker-name.blue-text Steven R. Baker
      %li.speaker
        %a{:href => '/speakers#ballanco'}
          %img.speaker-pic{:src => '/speakers/ballanco.jpg', :alt => 'Joshua Ballanco'}
          %h3.speaker-name.blue-text Joshua Ballanco
      %li.speaker
        %a{:href => '/speakers#campbell'}
          %img.speaker-pic{:src => '/speakers/campbell.jpg', :alt => 'Justin Campbell'}
          %h3.speaker-name.blue-text Justin Campbell
      %li.speaker
        %a{:href => '/speakers#cheng'}
          %img.speaker-pic{:src => '/speakers/joanne.jpg', :alt => 'Joanne Cheng'}
          %h3.speaker-name.blue-text Joanne Cheng
      %li.speaker
        %a{:href => '/speakers#desjardins'}
          %img.speaker-pic{:src => '/speakers/desjardins.jpg', :alt => 'Mike Desjardins'}
          %h3.speaker-name.blue-text Mike Desjardins
      %li.speaker
        %a{:href => '/speakers#garber'}
          %img.speaker-pic{:src => '/speakers/garber.jpg', :alt => 'Jason Garber'}
          %h3.speaker-name.blue-text Jason Garber
      %li.speaker
        %a{:href => '/speakers#gauthier'}
          %img.speaker-pic{:src => '/speakers/gauthier.jpg', :alt => 'Nick Gauthier'}
          %h3.speaker-name.blue-text Nick Gauthier
      %li.speaker
        %a{:href => '/speakers#haddox'}
          %img.speaker-pic{:src => '/speakers/haddox.jpg', :alt => 'Steven Haddox'}
          %h3.speaker-name.blue-text Steven Haddox
      %li.speaker
        %a{:href => '/speakers#liles'}
          %img.speaker-pic{:src => '/speakers/bryan.jpg', :alt => 'Bryan Liles'}
          %h3.speaker-name.blue-text Bryan Liles
      %li.speaker
        %a{:href => '/speakers#mcanally'}
          %img.speaker-pic{:src => '/speakers/jeremy.jpg', :alt => 'Jeremy McAnally'}
          %h3.speaker-name.blue-text Jeremy McAnally
      %li.speaker
        %a{:href => '/speakers#mcclain'}
          %img.speaker-pic{:src => '/speakers/dan.jpg', :alt => 'Dan McClain'}
          %h3.speaker-name.blue-text Dan McClain
      %li.speaker
        %a{:href => '/speakers#mccoy'}
          %img.speaker-pic{:src => '/speakers/sheena.jpg', :alt => 'Sheena McCoy'}
          %h3.speaker-name.blue-text Sheena McCoy
      %li.speaker
        %a{:href => '/speakers#meiklejohn'}
          %img.speaker-pic{:src => '/speakers/meiklejohn.jpg', :alt => 'Christopher Meiklejohn'}
          %h3.speaker-name.blue-text Christopher Meiklejohn
      %li.speaker
        %a{:href => '/speakers#menard'}
          %img.speaker-pic{:src => '/speakers/menard.jpg', :alt => 'Mark Menard'}
          %h3.speaker-name.blue-text Mark Menard
      %li.speaker
        %a{:href => '/speakers#mccoy'}
          %img.speaker-pic{:src => '/speakers/rachel.jpg', :alt => 'Rachel Myers'}
          %h3.speaker-name.blue-text Rachel Myers
      %li.speaker
        %a{:href => '/speakers#nicholaides'}
          %img.speaker-pic{:src => '/speakers/nicholaides.jpg', :alt => 'Mike Nicholaides'}
          %h3.speaker-name.blue-text Mike Nicholaides
      %li.speaker
        %a{:href => '/speakers#schneeman'}
          %img.speaker-pic{:src => '/speakers/schneeman.jpg', :alt => 'Richard Schneeman'}
          %h3.speaker-name.blue-text Richard Schneeman
      %li.speaker
        %a{:href => '/speakers#scott'}
          %img.speaker-pic{:src => '/speakers/zachary.jpg', :alt => 'Zachary Scott'}
          %h3.speaker-name.blue-text Zachary Scott
      %li.speaker
        %a{:href => '/speakers#segal'}
          %img.speaker-pic{:src => '/speakers/loren.jpg', :alt => 'Loren Segal'}
          %h3.speaker-name.blue-text Loren Segal

      %li.speaker
        %a{:href => '/speakers#sharp'}
          %img.speaker-pic{:src => '/speakers/sharp.jpg', :alt => 'Dan Sharp'}
          %h3.speaker-name.blue-text Dan Sharp

      %li.speaker
        %a{:href => '/speakers#singh'}
          %img.speaker-pic{:src => '/speakers/singh.jpg', :alt => 'Neeraj Singh'}
          %h3.speaker-name.blue-text Neeraj Singh
      %li.speaker
        %a{:href => '/speakers#somerville'}
          %img.speaker-pic{:src => '/speakers/charlie.jpg', :alt => 'Charlie Somerville'}
          %h3.speaker-name.blue-text Charlie Somerville
      %li.speaker
        %a{:href => '/speakers#vargo'}
          %img.speaker-pic{:src => '/speakers/vargo.jpg', :alt => 'Seth Vargo'}
          %h3.speaker-name.blue-text Seth Vargo

    %a.button.section__button{:href => '/speakers'} About the Speakers &amp; Talks

%section.dark
  %h1.section-title Location
  .section-wrap
    %h2.venue-name Seaport World Trade Center
    .venue-pic
    %p.section-info
      Wicked Good Ruby Conf is going to be held at the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of single and double rooms for conference attendees.
      %a.section-info-link{:href => 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', :target => '_blank'} Be sure to use this link to book your room at the special rate.
      For more details on the hotel's accommodations, please visit
      %a.section-info-link{:href => 'http://www.seaportboston.com', :target => '_blank'} seaportboston.com
      &#046;
    %a.button.section__button{:href => 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', :target => '_blank'} Book a room

%section.light
  %h1.section-title Sponsors
  .section-wrap

    .sponsor-group
      %h2.section-subtitle &mdash; Wicked Good Sponsor &mdash;
      .sponsor.sponsor-yesware
        %a.sponsor-logo-wrap{:href => 'http://www.yesware.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-yesware

    .sponsor-group
      %h2.section-subtitle &mdash; Workshop Sponsor &mdash;
      .sponsor.sponsor-jumpstart
        %a.sponsor-logo-wrap{:href => 'http://jumpstartlab.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-jumpstart

    .sponsor-group
      %h2.section-subtitle &mdash; Really Good Sponsors &mdash;
      %h3.section-info.blue-text 4 slots left!

    .sponsor-group
      %h2.section-subtitle &mdash; Very Good Sponsors &mdash;
      .sponsor.sponsor-fiksu
        %a.sponsor-logo-wrap{:href => 'http://www.fiksu.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-fiksu
      %h3.section-info.blue-text 7 slots left!

    .sponsor-group
      %h2.section-subtitle &mdash; Good Sponsors &mdash;
      .sponsor.sponsor-cogo
        %a.sponsor-logo-wrap{:href => 'http://cogolabs.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-cogo
      .sponsor.sponsor-meyouhealth
        %a.sponsor-logo-wrap{:href => 'http://meyouhealth.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-meyouhealth
      %h3.section-info.blue-text Unlimited slots

    .sponsor-group
      %h2.section-subtitle &mdash; Kinda Good Sponsors &mdash;
      .sponsor.sponsor-visible
        %a.sponsor-logo-wrap{:href => 'http://www.visiblemeasures.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-visible
      %h3.section-info.blue-text Unlimited slots

    .sponsor-group
      %h2.section-subtitle &mdash; Lanyard Sponsor &mdash;
      .sponsor.sponsor-github
        %a.sponsor-logo-wrap{:href => 'https://github.com/', :target => '_blank'}
          .sponsor-logo.sponsor-logo-github

    %p.section-info
      Interested in sponsoring Wicked Good Ruby Conf? Please take a look at our sponsorship prospectus pdf below for more information and email
      %a.section-info-link{:href => 'mailto:sponsor@wickedgoodruby.com'} sponsor@wickedgoodruby.com
      to get in touch with us.
    %a.button.section__button{:href => 'sponsorship-prospectus.pdf'} View our Prospectus

%section.lightest
  %h1.section-title Organizers
  .section-wrap
    %ul.organizers
      %li.organizer
        %a{:href => 'http://jboursiquot.com/', :target => '_blank'}
          %img.organizer-pic{:src => '/speakers/boursiquot.jpg', :alt => 'Johnny Boursiquot'}
          %h3.speaker-name.blue-text Johnny Boursiquot
      %li.organizer
        %a{:href => 'http://dockyard.com/', :target => '_blank' }
          %img.organizer-pic{:src => '/speakers/cardarella.jpg', :alt => 'Brian Cardarella'}
          %h3.speaker-name.blue-text Brian Cardarella
      %li.organizer
        %a{:href => 'http://dockyard.com/', :target => '_blank'}
          %img.organizer-pic{:src => '/speakers/hussey.jpg', :alt => 'Sean Hussey'}
          %h3.speaker-name.blue-text Sean Hussey
    %p.section-info Thanks to all those who helped organize the conference!

.triangle.triangle-end
