.triangle--start

%section.darkest
  %h1#schedule Schedule
  .l-wrap
    %h2.section__subtitle Friday, Oct. 11
    %ul.schedule-slots
      %li.schedule-slot
        %p.schedule-time 9:00 am
        %a.schedule-talk.section-info-link{href: '/workshop'} Refactoring Rails Workshop by JumpstartLab
        %p.schedule-location DockYard HQ
      %li.schedule-slot
        %p.schedule-time 6:30 pm
        %a.schedule-talk.section-info-link{href: 'https://guestlistapp.com/events/180912', target: '_blank'} Wicked Good Lightning Talks
        %p.schedule-location Brightcove, Inc.

    %h2.section__subtitle Saturday, Oct. 12
    %ul.schedule-slots
      %li.schedule-slot--highlight
        %p.schedule-time 8:00 am
        %p.schedule-talk.blue-text Registration
        %p.schedule-location Lobby
      %li.schedule-slot--highlight
        %p.schedule-time 9:00 am
        %p.schedule-talk.blue-text Opening Announcements
        %p.schedule-location Amphitheater
      %li.schedule-slot
        %p.schedule-time 9:15 am
        %a.schedule-talk.section-info-link{href: '/speakers#metz'} Opening Keynote by Sandi Metz
        %p.schedule-location Amphitheater
      %li.schedule-slot
        %p.schedule-time 10:00 am
        %a.schedule-talk.section-info-link{href: '/speakers#aimonetti'} Wicked Bad Ruby by Matt Aimonetti
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#scott'} Escaping Reality with Shoes by Zachary Scott
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 10:40 am
        %a.schedule-talk.section-info-link{href: '/speakers#somerville'} MRI Magic Tricks by Charlie Somerville
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#haddox'} PEACE: Programming Expertly Amid Corporations &amp; Enterprises by Steven Haddox
        %p.schedule-location Back Bay Room
      %li.schedule-slot--highlight
        %p.schedule-time 11:30 am
        %p.schedule-talk.blue-text Lunch
        %p.schedule-location Seaport Ballroom
      %li.schedule-slot
        %p.schedule-time 1:30 pm
        %a.schedule-talk.section-info-link{href: '/speakers#ballanco'} RubyMotion: Under the Hood by Joshua Ballanco
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#singh'} ActiveRecord is Still Magical by Neeraj Singh
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 2:20 pm
        %a.schedule-talk.section-info-link{href: '/speakers#garber'} Writing DSL's with Parslet by Jason Garber
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#desjardins'} Rails Sojourn: One Man's Journey by Mike Desjardins
        %p.schedule-location Back Bay Room
      %li.schedule-slot--highlight
        %p.schedule-time 3:00 pm
        %p.schedule-talk.blue-text Snack Break
        %p.schedule-location Seaport Ballroom
      %li.schedule-slot
        %p.schedule-time 3:20 pm
        %a.schedule-talk.section-info-link{href: '/speakers#yurek'} Naming is Hard!  by Jon Yurek
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#nicholaides'} Securing Your Rails App by Mike Nicholaides
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 4:10 pm
        %a.schedule-talk.section-info-link{href: '/speakers#mccoy'} Understanding Ruby's Method Cache by Rachel Myers and Sheena McCoy
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#gauthier'} Outside-In Testing by Nick Gauthier
        %p.schedule-location Back Bay Room
      %li.schedule-slot--highlight
        %p.schedule-time 5:00 pm
        %p.schedule-talk.blue-text Closing Announcements
        %p.schedule-location Amphitheater

    %h2.section__subtitle Sunday, Oct. 13
    %ul.schedule-slots
      %li.schedule-slot--highlight
        %p.schedule-time 9:00 am
        %p.schedule-talk.blue-text Opening Announcements
        %p.schedule-location Amphitheater
      %li.schedule-slot
        %p.schedule-time 9:10 am
        %a.schedule-talk.section-info-link{href: '/speakers#liles'} Machine Learning with Ruby by Bryan Liles
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#cheng'} Creativity with Ruby-Processing by Joanne Cheng
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 10:00 am
        %a.schedule-talk.section-info-link{href: '/speakers#meiklejohn'} Bloom: A Language for Disorderly Distributed Programming by Christopher Meiklejohn
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#sobkowicz'} Ruby: The Next Generation by Mark Sobkowicz
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 10:50 am
        %a.schedule-talk.section-info-link{href: '/speakers#alcorn'} Market Analytics in EVE with Ruby by Doug Alcorn
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#sharp'} Killing Fibonacci by Dan Sharp
        %p.schedule-location Back Bay Room
      %li.schedule-slot--highlight
        %p.schedule-time 11:30 am
        %p.schedule-talk.blue-text Lunch
        %p.schedule-location Seaport Ballroom
      %li.schedule-slot
        %p.schedule-time 1:30 pm
        %a.schedule-talk.section-info-link{href: '/speakers#segal'} Towards Tooling; A Look at What is Missing From our Toolbox by Loren Segal
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#schneeman'} Dissecting Ruby with Ruby by Richard Schneeman
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 2:20 pm
        %a.schedule-talk.section-info-link{href: '/speakers#mcclain'} Supercharging ActiveRecord with PostgreSQL by Dan McClain
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#vargo'} Using Ruby to Automate your Life by Seth Vargo
        %p.schedule-location Back Bay Room
      %li.schedule-slot
        %p.schedule-time 3:00 pm
        %a.schedule-talk.section-info-link{href: '/speakers#menard'} JRuby: Insights from Six Years in Production by Mark Menard
        %p.schedule-location Amphitheater
        %p.schedule-time &nbsp;
        %a.schedule-talk.section-info-link{href: '/speakers#campbell'} Hacking your Home with Ruby by Justin Campbell
        %p.schedule-location Back Bay Room
      %li.schedule-slot--highlight
        %p.schedule-time 3:40 pm
        %p.schedule-talk.blue-text Snack Break
        %p.schedule-location Seaport Ballroom
      %li.schedule-slot
        %p.schedule-time 4:00 pm
        %a.schedule-talk.section-info-link{href: '/speakers#savas'} Closing Keynote by Foy Savas
        %p.schedule-location Amphitheater
      %li.schedule-slot--highlight
        %p.schedule-time 4:50 pm
        %p.schedule-talk.blue-text Closing Announcements
        %p.schedule-location Amphitheater

    %a.button.section__button{href: '/speakers'} About the Speakers &amp; Talks

%section.dark
  %h1 Speakers
  .l-wrap
    %ul.keynotes
      %li.keynote
        %a{href: '/speakers#metz'}
          %img.keynote__pic{src: '/speakers/sandi.jpg', alt: 'Sandi Metz'}
          %h3.keynote__name.blue-text Sandi Metz
      %li.keynote
        %a{href: '/speakers#savas'}
          %img.keynote__pic{src: '/speakers/foy.jpg', alt: 'Foy Savas'}
          %h3.keynote__name.blue-text Foy Savas
    %ul.speakers
      %li.speaker
        %a{href: '/speakers#aimonetti'}
          %img.speaker__pic{src: '/speakers/matt.jpg', alt: 'Matt Aimonetti'}
          %h3.speaker__name.blue-text Matt Aimonetti
      %li.speaker
        %a{href: '/speakers#alcorn'}
          %img.speaker__pic{src: '/speakers/alcorn.jpg', alt: 'Doug Alcorn'}
          %h3.speaker__name.blue-text Doug Alcorn
      %li.speaker
        %a{href: '/speakers#ballanco'}
          %img.speaker__pic{src: '/speakers/ballanco.jpg', alt: 'Joshua Ballanco'}
          %h3.speaker__name.blue-text Joshua Ballanco
      %li.speaker
        %a{href: '/speakers#campbell'}
          %img.speaker__pic{src: '/speakers/campbell.jpg', alt: 'Justin Campbell'}
          %h3.speaker__name.blue-text Justin Campbell
      %li.speaker
        %a{href: '/speakers#cheng'}
          %img.speaker__pic{src: '/speakers/joanne.jpg', alt: 'Joanne Cheng'}
          %h3.speaker__name.blue-text Joanne Cheng
      %li.speaker
        %a{href: '/speakers#desjardins'}
          %img.speaker__pic{src: '/speakers/desjardins.jpg', alt: 'Mike Desjardins'}
          %h3.speaker__name.blue-text Mike Desjardins
      %li.speaker
        %a{href: '/speakers#garber'}
          %img.speaker__pic{src: '/speakers/garber.jpg', alt: 'Jason Garber'}
          %h3.speaker__name.blue-text Jason Garber
      %li.speaker
        %a{href: '/speakers#gauthier'}
          %img.speaker__pic{src: '/speakers/gauthier.jpg', alt: 'Nick Gauthier'}
          %h3.speaker__name.blue-text Nick Gauthier
      %li.speaker
        %a{href: '/speakers#haddox'}
          %img.speaker__pic{src: '/speakers/haddox.jpg', alt: 'Steven Haddox'}
          %h3.speaker__name.blue-text Steven Haddox
      %li.speaker
        %a{href: '/speakers#liles'}
          %img.speaker__pic{src: '/speakers/bryan.jpg', alt: 'Bryan Liles'}
          %h3.speaker__name.blue-text Bryan Liles
      %li.speaker
        %a{href: '/speakers#mcclain'}
          %img.speaker__pic{src: '/speakers/dan.jpg', alt: 'Dan McClain'}
          %h3.speaker__name.blue-text Dan McClain
      %li.speaker
        %a{href: '/speakers#mccoy'}
          %img.speaker__pic{src: '/speakers/sheena.jpg', alt: 'Sheena McCoy'}
          %h3.speaker__name.blue-text Sheena McCoy
      %li.speaker
        %a{href: '/speakers#meiklejohn'}
          %img.speaker__pic{src: '/speakers/meiklejohn.jpg', alt: 'Christopher Meiklejohn'}
          %h3.speaker__name.blue-text Christopher Meiklejohn
      %li.speaker
        %a{href: '/speakers#menard'}
          %img.speaker__pic{src: '/speakers/menard.jpg', alt: 'Mark Menard'}
          %h3.speaker__name.blue-text Mark Menard
      %li.speaker
        %a{href: '/speakers#mccoy'}
          %img.speaker__pic{src: '/speakers/rachel.jpg', alt: 'Rachel Myers'}
          %h3.speaker__name.blue-text Rachel Myers
      %li.speaker
        %a{href: '/speakers#nicholaides'}
          %img.speaker__pic{src: '/speakers/nicholaides.jpg', alt: 'Mike Nicholaides'}
          %h3.speaker__name.blue-text Mike Nicholaides
      %li.speaker
        %a{href: '/speakers#schneeman'}
          %img.speaker__pic{src: '/speakers/schneeman.jpg', alt: 'Richard Schneeman'}
          %h3.speaker__name.blue-text Richard Schneeman
      %li.speaker
        %a{href: '/speakers#scott'}
          %img.speaker__pic{src: '/speakers/zachary.jpg', alt: 'Zachary Scott'}
          %h3.speaker__name.blue-text Zachary Scott
      %li.speaker
        %a{href: '/speakers#segal'}
          %img.speaker__pic{src: '/speakers/loren.jpg', alt: 'Loren Segal'}
          %h3.speaker__name.blue-text Loren Segal
      %li.speaker
        %a{href: '/speakers#sharp'}
          %img.speaker__pic{src: '/speakers/sharp.jpg', alt: 'Dan Sharp'}
          %h3.speaker__name.blue-text Dan Sharp
      %li.speaker
        %a{href: '/speakers#singh'}
          %img.speaker__pic{src: '/speakers/singh.jpg', alt: 'Neeraj Singh'}
          %h3.speaker__name.blue-text Neeraj Singh
      %li.speaker
        %a{href: '/speakers#sobkowicz'}
          %img.speaker__pic{src: '/speakers/sobkowicz.jpg', alt: 'Mark Sobkowicz'}
          %h3.speaker__name.blue-text Mark Sobkowicz
      %li.speaker
        %a{href: '/speakers#somerville'}
          %img.speaker__pic{src: '/speakers/charlie.jpg', alt: 'Charlie Somerville'}
          %h3.speaker__name.blue-text Charlie Somerville
      %li.speaker
        %a{href: '/speakers#vargo'}
          %img.speaker__pic{src: '/speakers/vargo.jpg', alt: 'Seth Vargo'}
          %h3.speaker__name.blue-text Seth Vargo
      %li.speaker
        %a{href: '/speakers#yurek'}
          %img.speaker__pic{src: '/speakers/yurek.jpg', alt: 'Jon Yurek'}
          %h3.speaker__name.blue-text Jon Yurek

    %a.button.section__button{href: '/speakers'} About the Speakers &amp; Talks

%section.medium
  %h1 Location
  .l-wrap
    %h2.venue-name Seaport World Trade Center
    %a.section-info-link.center{href: 'http://goo.gl/maps/IKtU2', target: '_blank'} 200 Seaport Blvd Boston, MA 02210
    .venue-pic
    %p.section-info
      Wicked Good Ruby Conf is going to be held at the Seaport Hotel &amp; World Trade Center in Boston. We recommend staying at their hotel if you are coming from out of town. We have reserved a number of single and double rooms for conference attendees.
      %a.section-info-link{href: 'http://www.seaportboston.com/', target: '_blank'} Be sure to use this link to book your room at the special rate.
      For more details on the hotel's accommodations, please visit
      %a.section-info-link{href: 'http://www.seaportboston.com', target: '_blank'} seaportboston.com
      &#046;

    %a.button.section__button{href: 'https://book.b4checkin.com/seaportboston/rlpv2/NegotiatedRates.asp?TID=DOCK13&CompanyName=Wicked%20Good%20Ruby%20Conference&Category=Group', target: '_blank'} Book a room

%section.light
  %h1 Sponsors
  .l-wrap

    .sponsor-group
      %h2.section__subtitle &mdash; Wicked Good Sponsor &mdash;
      %a.sponsor--yesware{href: 'http://www.yesware.com/', target: '_blank'}
        .sponsor__logo--yesware

    .sponsor-group
      %h2.section__subtitle &mdash; Track Sponsor &mdash;
      %a.sponsor{href: 'http://www.constantcontact.com/index.jsp', target: '_blank'}
        .sponsor__logo--constant-contact

    .sponsor-group
      %h2.section__subtitle &mdash; Workshop Sponsor &mdash;
      %a.sponsor{href: 'http://jumpstartlab.com/', target: '_blank'}
        .sponsor__logo--jumpstart

    .sponsor-group
      %h2.section__subtitle &mdash; Very Good Sponsors &mdash;
      %a.sponsor--chargify{href: 'http://chargify.com/', target: '_blank'}
        .sponsor__logo--chargify
      %a.sponsor{href: 'http://www.fiksu.com/', target: '_blank'}
        .sponsor__logo--fiksu
      %a.sponsor{href: 'http://www.redhat.com/', target: '_blank'}
        .sponsor__logo--redhat
      -#%h3.section-info.blue-text 7 slots left!

    .sponsor-group
      %h2.section__subtitle &mdash; Good Sponsors &mdash;
      %a.sponsor--cogo{href: 'http://cogolabs.com/', target: '_blank'}
        .sponsor__logo--cogo
      %a.sponsor{href: 'http://meyouhealth.com/', target: '_blank'}
        .sponsor__logo--meyouhealth
      -#%h3.section-info.blue-text Unlimited slots

    .sponsor-group
      %h2.section__subtitle &mdash; Kinda Good Sponsors &mdash;
      %a.sponsor--openbay{href: 'https://www.openbay.com/', target: '_blank'}
        .sponsor__logo--openbay
      %a.sponsor{href: 'http://pivotallabs.com/', target: '_blank'}
        .sponsor__logo--pivotal
      %a.sponsor{href: 'http://www.visiblemeasures.com/', target: '_blank'}
        .sponsor__logo--visible
      -#%h3.section-info.blue-text Unlimited slots

    .sponsor-group
      %h2.section__subtitle &mdash; Lightning Talk Sponsor &mdash;
      %a.sponsor{href: 'http://www.brightcove.com/en/', target: '_blank'}
        .sponsor__logo--brightcove

    .sponsor-group
      %h2.section__subtitle &mdash; Video Recorded By &mdash;
      %a.sponsor{href: 'http://www.confreaks.com/', target: '_blank'}
        .sponsor__logo--confreaks

    .sponsor-group
      %h2.section__subtitle &mdash; Childcare Sponsor &mdash;
      %a.sponsor{href: 'http://www.thoughtbot.com/', target: '_blank'}
        .sponsor__logo--thoughtbot

    .sponsor-group
      %h2.section__subtitle &mdash; Lanyard Sponsor &mdash;
      %a.sponsor{href: 'https://github.com/', target: '_blank'}
        .sponsor__logo--github

    %p.section-info
      Interested in sponsoring Wicked Good Ruby Conf? Please take a look at our sponsorship prospectus pdf below for more information and email
      %a.section-info-link{href: 'mailto:sponsor@wickedgoodruby.com'} sponsor@wickedgoodruby.com
      to get in touch with us.

%section.lightest
  %h1 Organizers
  .l-wrap
    %ul.organizers
      %li.organizer
        %a{href: 'http://www.maark.com/', target: '_blank'}
          %img.organizer__pic{src: '/organizers/boursiquot.jpg', alt: 'Johnny Boursiquot'}
          %h3.speaker-name.blue-text Johnny Boursiquot
      %li.organizer
        %a{href: 'http://dockyard.com/', target: '_blank' }
          %img.organizer__pic{src: '/organizers/cardarella.jpg', alt: 'Brian Cardarella'}
          %h3.speaker-name.blue-text Brian Cardarella
      %li.organizer
        %a{href: 'http://dockyard.com/', target: '_blank' }
          %img.organizer__pic{src: '/organizers/cheung.jpg', alt: 'Amanda Cheung'}
          %h3.speaker-name.blue-text Amanda Cheung
      %li.organizer
        %a{href: 'https://appblade.com/', target: '_blank'}
          %img.organizer__pic{src: '/organizers/daniels.jpg', alt: 'James Daniels'}
          %h3.speaker-name.blue-text James Daniels
      %li.organizer
        %a{href: 'http://dockyard.com/', target: '_blank'}
          %img.organizer__pic{src: '/organizers/hussey.jpg', alt: 'Sean Hussey'}
          %h3.speaker-name.blue-text Sean Hussey
    %p.section-info Thanks to all those who helped organize the conference!

.triangle--end
