!!!5
%html
  %head
    %title Wicked Good Ruby Conf | Boston, MA Oct 12 - 13, 2013
    %link{href: '/assets/application.css', rel: 'stylesheet'}
    %link{href: "http://fonts.googleapis.com/css?family=Lato:400,400italic,900italic", rel: "stylesheet", type: "text/css"}
    %script{src: '/assets/application.js', type: 'text/javascript'}
    %meta{name: 'description', content: 'Wicked Good Ruby Conf is a two day, double track Ruby conference being held in Boston, Massachusetts'}
    %meta{name: 'keywords',    content: 'ruby, conference, rails, jruby, ios, rubymotion, postgresql'}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name: "viewport"}
    /[if lt IE 9]
      <script src='assets/html5shiv.js'></script>
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39682399-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .l-intro.intro
      %a.logo{href: '/'}
      %h2.intro__copy
        Join us for a two day, double track Ruby conference at the Seaport World Trade Center in Boston, MA!
      %h3.intro__callout Oct 12-13, 2013
      %a.intro__button{href: 'http://wickedgoodruby2013.eventbrite.com/', target: '_blank'} Register

    .l-main.main
      = yield

      .animation
        .animation__terrier
        .animation__shine
          .animation__shine__line1
          .animation__shine__line2
        .animation__background

      %footer
        %h2.footer__callout
          Get excited for Boston's first Ruby conference!
        %nav.footer__buttons
          %a.footer__button--eventbrite{href: 'http://wickedgoodruby2013.eventbrite.com/', target: '_blank'}
            Buy tix on Eventbrite
          %a.footer__button--twitter{href: 'https://twitter.com/WickedGoodRuby', target: '_blank'}
            Follow us on Twitter
          %a.footer__button--lanyrd{href: 'http://lanyrd.com/2013/wickedgoodruby/', target: '_blank'}
            Track us on Lanyrd
        %h3.footer__copy
          &copy; Copyright 2013 Wicked Good Ruby Conf
        %h3.footer__copy
          All Rights Reserved
        %a.made-by-dockyard{href: 'http://dockyard.com/', target: '_blank'}
