.triangle.triangle--start-detail

%section.detail-page
  %h1.section-title Speakers
  .wrap
    %ul
      %li.detail-section#alcorn
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/alcorn.jpg', :alt => 'Doug Alcorn'}
        .speaker-info
          %h2.detail-title Doug Alcorn
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/dougalcorn', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/dougalcorn', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://gaslight.co', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Doug is a partner with Gaslight in Cincinnati. He is a lover of ruby, spread sheets, and internet space ships.
          %p.detail-info.speaker-talk Market Analytics in EVE with Ruby
          %p.detail-info Ever wondered about market trading, analytics or algorithms but didn't want to lose your shirt experimenting? EVE Online is a Massively Multiplayer Online Role Playing Game (MMORPG) rich in data with a fully functional, player driven economy. Using some simple concepts and novel tools you can get access to this data and discover interesting  ill introduce you to market analytics and the cruel world of EVE Online.
      %li.detail-section#aimonetti
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/matt.jpg', :alt => 'Matt Aimonetti'}
        .speaker-info
          %h2.detail-title Matt Aimonetti
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/mattetti', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/mattetti', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info Matt Aimonetti is an experienced technologist, entrepreneur, technical writer and active open-source contributor. Based in San Diego California, he currently works on his startup: Splice. Prior to Splice, Matt worked as a Tech manager/developer at LivingSocial, on video game development at Sony PlayStation and on many other things.
          %p.detail-info.speaker-talk Wicked Bad Ruby
          %p.detail-info Can you tell the difference between good and bad code? What do you base your judgment on?
          %p.detail-info Over the years, the Ruby community has built a fairly strong notion of “the right way” of writing code. During his thought provoking presentation, Matt will show that things are not simply good vs bad, and that what we call “pretty” code might, in fact, just be lipstick on a pig.
      %li.detail-section#baker
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/baker.jpg', :alt => 'Steven Baker'}
        .speaker-info
          %h2.detail-title Steven R. Baker
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/srbaker', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/srbaker', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://stevenrbaker.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info In the third grade, Steven missed an opportunity to corner the Hockey Trivia video game market when he made such a huge mess of his software he had to rewrite it. As with most rewrites, it was a huge failure, and Steven still hasn’t forgiven himself. Since then, he has been obsessed with learning how to produce high quality software, and has been helping teams do just that. Along the way he’s developed tools, delivered talks, and yelled over pints about how to improve software.
          %p.detail-info.speaker-talk MagLev: Ruby With an Image
          %p.detail-info MagLev is a fast, stable, 64-bit open source implementation of the Ruby programming language.
          %p.detail-info MagLev offers a complete Ruby implementation, on a fast and solid VM, and includes a scalable object datab you'll learn how to transparently store real objects, how to leverage fast and ibraries in your Ruby applications, and how to deploy applications written on one of the most mature virtual machines in use today.
      %li.detail-section#ballanco
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/ballanco.jpg', :alt => 'Joshua Ballanco'}
        .speaker-info
          %h2.detail-title Joshua Ballanco
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/manhattanmetric', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jballanc', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://manhattanmetric.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Joshua has worked with Objective-C since 2002 and Ruby since 2004. He has built operating systems with Apple, local news websites with AOL, and somehow managed to finish a Ph.D. along the way. Currently, Joshua is Chief Scientist at Burnside Digital where he works with an amazing team of engineers and designers to solve problems for a wide range of clients. He works and lives in Ankara.
          %p.detail-info.speaker-talk RubyMotion: Under the Hood
          %p.detail-info By now you probably know that RubyMotion is a new toolchain that lets you use familiar Ruby techniques to develop applications for iOS&#133; but do you know what makes it tick? How is RubyMotion different from toolchains such as PhoneGap or Titanium? What does it mean to say that RubyMotion is implemented "on top of the Objective-C runtime"? And how the heck do I debug RubyMotion anyway?
          %p.detail-info I will attempt to answer these questions, and more, by looking deep into the underpinnings of RubyMotion. Along the way, I'll give a bit of an overview of the history of RubyMotion, and maybe even a glimpse at its future.
      %li.detail-section#campbell
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/campbell.jpg', :alt => 'Justin Campbell'}
        .speaker-info
          %h2.detail-title Justin Campbell
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/justincampbell', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/justincampbell', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://justincampbell.me/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Justin is a passionate Rubyist, hailing from the suburbs of Philadelphia. When he's not writing Ruby, he enjoys snowboarding and rock climbing with his wife, or playing StarCraft. Justin is also a budding programming-language geek.
          %p.detail-info.speaker-talk Hacking Your Home with Ruby
          %p.detail-info 15 years ago, Justin looked forward to the day when he could have a stack of expensive audio equipment with speakers in every room, lights that follow him around, and an intercom system so the family could page each other like Tim "The Tool Man" Taylor.
          %p.detail-info Ubiquitous networking, APIs for consumer electronics, and cheap computers like the Raspberry Pi have made it easier than ever to automate your home. We go over some popular technologies, see some code to glue it all together, and watch a live demo of some of Justin's favorite house hacks.
      %li.detail-section#cheng
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/joanne.jpg', :alt => 'Joanne Cheng'}
        .speaker-info
          %h2.detail-title Joanne Cheng
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/joannecheng', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jc-2', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://plastic-cities.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info
            Joanne is a developer for thoughtbot, inc. in Denver, CO, happily writing code all day. When she's not writing code for thoughtbot, inc., she works on open source projects that benefit the state of Colorado and its citizens through
            %a.section-info-link{:href => 'http://codeforcommunities.org/', :target => '_blank'} Code for Communities
            &#046; She was once a classical musician in training.
          %p.detail-info.speaker-talk Creativity with Ruby-Processing
          %p.detail-info Ruby-Processing is a simple wrapper for the Processing framework that combines the visual-driven environment of Processing with the fun of writing R we'll go through the ways to "sketch" with Ruby-Processing with several live coding examples and create something together. Through creativity, we can increase the breadth of problems we can solve in our day to day jobs.
      %li.detail-section#desjardins
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/desjardins.jpg', :alt => 'Mike Desjardins'}
        .speaker-info
          %h2.detail-title Mike Desjardins
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/mdesjardins', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/mdesjardins', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://www.mikedesjardins.net', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Mike began programming on his Tandy 1000 when he was 13 years old and has never looked back. His first job out of college was writing assembly language firmware for disk drives, where his primary debugging tool was an oscilloscope. Today he is the CTO at Burnside Digital, where he's still an active developer creating large-scale Ruby-based web applications for clients, occasionally sneaking in some Android hackery. When he's not at a keyboard, you can often find him geocaching with his family up in Portland, Maine.
          %p.detail-info.speaker-talk Rails Sojourn: One Man's Journey
          %p.detail-info With several spawling, monolithic Rails apps under my belt, I had the opportunity to go a different route. Bulging models, obtuse controllers, and views chock full of logic were my world. When I came up for air, all the cool kids were writing thick clients with svelte backends. Perhaps Sinatra and some hip Javascript framework were the way? Here's what I learned...
      %li.detail-section#garber
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/garber.jpg', :alt => 'Jason Garber'}
        .speaker-info
          %h2.detail-title Jason Garber
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/jasongarber', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jgarber', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://jasongarber.com/ruby-developer', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Jason picked up Ruby while re-designing the Rosetta Stone website in 2005 and immediately fell in love with the language, the community, and open-source software. Later, he started committing to Why the Lucky Stiff’s RedCloth repo and the next thing he knew, he was the owner, with a sketch from _why to prove it! Jason enjoys helping others level up their skills, through RailsGirls, Philly.rb, and corporate training. He is an engineer at PromptWorks, a Ruby shop in Philadelphia, where he enjoys pair programming with his co-founders, Greg and Mike.
          %p.detail-info.speaker-talk Writing DSLs with Parslet
          %p.detail-info A well-designed DSL improves programmer productivity and communication with domain experts. The Ruby community has produced a number of very popular external DSLs--Coffeescript, HAML, SASS, and Cucumber to name a few.
          %p.detail-info Parslet makes it easy to write these kinds of DSLs in pure R ou’ll learn the basics, feel out the limitations of several approaches and find some common solutions. In no time, you’ll have the power to make a great new DSL, slurp in obscure file formats, modify or fork other people’s grammars (like Gherkin, TOML, or JSON), or even write your own programming language!
      %li.detail-section#gauthier
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/gauthier.jpg', :alt => 'Nick Gauthier'}
        .speaker-info
          %h2.detail-title Nick Gauthier
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/ngauthier', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/ngauthier', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://ngauthier.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info
            Nick Gauthier is a web freelancer focusing on Ruby on Rails and JavaScript. His experience spans from SQL to Sass and he always tests, all the time. He wrote Recipes with Backbone with Chris Strom and recently released his most recent eBook Mobile Web Patterns with Backbone.js. Aside from freelancing Nick runs B’More Awesome, a Baltimore-based web training organization, and he also co-founded Exobrain, an online mind-mapping tool.
          %p.detail-info.speaker-talk Outside-In Testing
          %p.detail-info As a freelancer I'm often tasked with creating high quality web applications quickly while keeping the budget razor thin. In my experience, the absolute best bang-for-your-buck style of development has been BDD from the outside-in via acceptance tests. With acceptance tests you can quickly and accurately determine the minimum code necessary to fit the requirements of an application while achieving high code coverage and resilience to refactoring. By their very nature acceptance tests are the the simplest kinds of tests to write since they are expressed in the language of an end-u e'll implement a feature from the outside-in, explaining the reasoning behind every step.
      %li.detail-section#haddox
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/haddox.jpg', :alt => 'Steven Haddox'}
        .speaker-info
          %h2.detail-title Steven Haddox
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/stevenhaddox', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/stevenhaddox', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://stevenhaddox.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info
            Steven has over a decade of programming experience and has been a Ruby developer since 2008. His career consists of a wide-variety of development and production environments which have led him to create tools like
            %a.section-info-link{:href => 'https://github.com/stevenhaddox/rvm_fw', :target => '_blank'} RVM::FW
            to help ensure that development can be consistent in a multitude of circumstances.
          %p.detail-info.speaker-talk PEACE: Programming Expertly Amid Corporations & Enterprises
          %p.detail-info Everyone casts the "Enterprise" as the most horrid place in the world to be a Ruby developer, and they used to be right. How does a Rubyist trying to stay current work in a confined and archaic environment with strict security restrictions? You do everything other Rubyists do, but you do it without sudo and from source. Together we'll identify the best open source self-hosted options for agile managment, provisioning, git hosting, error tracking, CI, isolated RVM, metrics, central logging, and security. As a bonus, you'll learn how to automate the setup of all these tools as much as possible without sudo privileges.
      %li.detail-section#liles
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/bryan.jpg', :alt => 'Bryan Liles'}
        .speaker-info
          %h2.detail-title Bryan Liles
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/bryanl', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/bryanl', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info.speaker-talk Talk TBD
      %li.detail-section#mcanally
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/jeremy.jpg', :alt => 'Jeremy McAnally'}
        .speaker-info
          %h2.detail-title Jeremy McAnally
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/jm', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jm', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://jeremymcanally.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info I am awesome.  Actually, that's rather false, but I really like Boston a lot.  That counts for something, right?
          %p.detail-info.speaker-talk RubyMotion: America's iOS Framework
          %p.detail-info I was recently invited to take part in a hackathon at the White House, at which I built a ridiculously boss iPhone app using RubyMotion for the We The People petition site. It consumes the soon-to-be-published We The People API and provides an attractive way to browse the various petitions on the site. Very likely, it is the greatest iPhone application ever created.
          %p.detail-info Had I attempted to build the same app using Objective-C, I'm pretty sure that I wouldn't have gotten nearly as far in the one day timeframe I had before me. RubyMotion was more comfortable for me and gave me a good set of tools to build things quickly. Then again, even as an experienced Ruby developer, I hit some stumbling blocks with RubyMotion. This talk is a quick walkthrough of basic RubyMotion usage, followed by 4 stumbling blocks that developers may hit and how to overcome them.
      %li.detail-section#mcclain
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/dan.jpg', :alt => 'Dan McClain'}
        .speaker-info
          %h2.detail-title Dan McClain
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/_danmcclain', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/danmcclain', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://danmcclain.net', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info I am the author of the postgre_ext gem, which adds ActiveRecord and Arel support for PostgreSQL datatypes, and contributed commits to Rails 4.0 that added PostgreSQL array support.
          %p.detail-info.speaker-talk Supercharging ActiveRecord with PostgreSQL
          %p.detail-info You've been able to serialize Ruby objects with ActiveRecord in the past, but the database treats serialized objects as text. PostgreSQL has support for advanced data types, like arrays, hashes and ranges, natively, allowing the database to do the heavy work for you. You can query a table for records that contain an array with a specific element. You can build a reservation system in which the database makes sure that you don't double book a room. All of which happens in the database, preventing you from retrieving extra records and processing them in memory.
          %p.detail-info With Rails 4, ActiveRecord has been supercharged. The PostgreSQL adapter has been extended to support arrays and hashes, and was rewritten to make adding your own types easier than before. There are gems out there that allow you to leverage these datatypes in Rails 3 as well.
      %li.detail-section#mccoy
        .joint-speakers
          .joint-speaker
            %img.speaker-pic.speaker-pic-index{:src => '/speakers/sheena.jpg', :alt => 'Sheena McCoy'}
            .speaker-info
              %h2.detail-title Sheena McCoy
              .speaker-links
                %a.speaker-link{:href => 'https://twitter.com/sheenapmccoy', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
          .joint-speaker
            %img.speaker-pic.speaker-pic-index{:src => '/speakers/rachel.jpg', :alt => 'Rachel Myers'}
            .speaker-info
              %h2.detail-title Rachel Myers
              .speaker-links
                %a.speaker-link{:href => 'https://twitter.com/rachelmyers', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
                %a.speaker-link{:href => 'https://github.com/rachelmyers', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
        %p.detail-info.speaker-talk Joint Talk TBD
      %li.detail-section#meiklejohn
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/meiklejohn.jpg', :alt => 'Christopher Meiklejohn'}
        .speaker-info
          %h2.detail-title Christopher Meiklejohn
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/cmeik', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/cmeiklejohn', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info Christopher Meiklejohn is a Software Engineer with Basho Technologies, Inc. where he focuses on building rich web applications for Riak using Erlang and JavaScript. Before joining Basho, he worked at Swipely, a loyalty program startup based in Providence where he maintained critical infrastructure components written in Ruby. Christopher is also a graduate student in computer science at Brown University in Providence RI, where he studies formal verification and distributed systems.
          %p.detail-info.speaker-talk Bloom: A language for disorderly distributed programming
          %p.detail-info Traditional programming languages use a model of computation where individual instructions are executed in order. However, when building distributed systems this model fails to match the reality of how your application code is actually executed. Bloom is a language which allows programmers to build applications as a series of unordered statements while also providing facilities for imposing a particular ordering of events when necessary.
          %p.detail-info During this talk we will explore building applications in Bud, which is a prototype of Bloom implemented as a domain specific language in Ruby. We will discuss the concepts of logical monotonicity, disorderly collections, the CALM principle which is the root of the Bloom language, and how to use he Bloom language to identify critical sections of your code where a coordiation library should be used to ensure consistency.
      %li.detail-section#menard
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/menard.jpg', :alt => 'Mark Menard'}
        .speaker-info
          %h2.detail-title Mark Menard
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/mark_menard', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/MarkMenard', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://www.enablelabs.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Mark Menard is the founder of Enable Labs, a boutique consulting firm, in Troy, NY, specializing in product development, business productivity and problem solving. Mark used to be a Java developer and caught the dynamic language bug when he started coding in Groovy and then discovered Ruby and Rails. Mark spends most of his free time with his wife Sylva and their two sons Ezra and Avi.
          %p.detail-info.speaker-talk JRuby: Insights from Six Years in Production
          %p.detail-info JRuby is the primary alternative implementation of Ruby available. With support for native threads, excellent garbage collection, and the introduction of Invoke Dynamic it has grown into a formidable platform. So, what can JRuby do for you? Learn how JRuby differs from MRI, how JRuby supports parallelism, how to use Java libraries from JRuby, how to use Ruby from Java and more. Java no longer means just the language anymore, the JVM is an excellent place to host Ruby applications.
      %li.detail-section#metz
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/sandi.jpg', :alt => 'Sandi Metz'}
        .speaker-info
          %h2.detail-title Sandi Metz
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/sandimetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/skmetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://sandimetz.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info.speaker-talk Keynote
      %li.detail-section#nicholaides
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/nicholaides.jpg', :alt => 'Mike Nicholaides'}
        .speaker-info
          %h2.detail-title Mike Nicholaides
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/nicholaides', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/nicholaides', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://ablegray.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info By day, Mike Nicholaides is a co-founder and Ruby/JavaScript consultant at PromptWorks, the premier Ruby shop in Philadelphia. But when the sun goes down&#133; he does, too, because having kids is exhausting!
          %p.detail-info Between dawn and dusk Mike can be found feeding his addiction to learning. In addition to technology, his interests include all things language, business, ancient and prehistory, and religion.
          %p.detail-info When he's not coding, spending time with his family, or reading, you'll probably find him organizing local JavaScript and coworking meetups and throwing Philadelphia's annual Code Retreat.
          %p.detail-info.speaker-talk Securing Your Rails App
          %p.detail-info How can you know if your Rails app is safe? With potential vulnerabilities lurking in your app's code, in gems you depend on, in services you use, and in the Rails source itself, attackers have myriad vectors to gain access to your data, interrupt your service, and damage your reputation.
          %p.detail-info I'll cover the basics of securing your Rails app, evaluating and mitigating the risk inherent in live web applications, and strategies for keeping your app secure as new threats emerge.
      %li.detail-section#savas
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/foy.jpg', :alt => 'Foy Savas'}
        .speaker-info
          %h2.detail-title Foy Savas
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://www.foysavas.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info.speaker-talk Keynote
      %li.detail-section#schneeman
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/schneeman.jpg', :alt => 'Richard Schneeman'}
        .speaker-info
          %h2.detail-title Richard Schneeman
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/schneems', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/schneems', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://schneems.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info
            Richard writes Ruby at Heroku at teaches Rails at the University of Texas. When he isn't obsessively compulsively playing Starcraft 2 he writes such gems as
            %a.section-info-link{:href => 'https://github.com/schneems/wicked', :target => '_blank'} Wicked
            &#044;
            %a.section-info-link{:href => 'https://github.com/schneems/sextant', :target => '_blank'} Sextant
            &#044; and
            %a.section-info-link{:href => 'https://github.com/opro/opro', :target => '_blank'} oPRO
            &#046; He's on the Rails issue team, and wants you to sign up for
            %a.section-info-link{:href => 'http://www.codetriage.com/', :target => '_blank'} Code Triage
            &#046; Before working as a programmer &ndash; Richard graduated from Space camp where he prototyped a perpetual motion machine that didn't work, and from Scout camp where he built trebuchets that did.
          %p.detail-info.speaker-talk Dissecting Ruby with Ruby
          %p.detail-info Underneath the beautiful veneer of our Ruby libraries lies a twisted tangle of writhing guts. Maybe you're curious how the pieces fit together or maybe you're tracking down a bug, either way it's easy to get lost in the blood and bile that ties our code toget ou'll learn how to use simple and sharp Ruby tools to slice into large libraries with surgical precision. Turn your impossible bugs into pull requests, and level up your programming skills by Dissecting Ruby with Ruby.
      %li.detail-section#scott
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/zachary.jpg', :alt => 'Zachary Scott'}
        .speaker-info
          %h2.detail-title Zachary Scott
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/_zzak', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/zzak', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info Ruby-core member Zachary Scott is a long time contributor and friend of Team Shoes.
          %p.detail-info.speaker-talk Escaping Reality With Shoes
          %p.detail-info Are you bored of hearing about Rails, Node, or Ember? Is your day job hacking on the same Rails app getting the best of you? Maybe you're looking for a fun way to get into this programming thing.
          %p.detail-info Let's imagine for a moment, your boss just gave you the day off because you've managed to squash the remaining bugs and shipped some invaluable features. With all of this free time there's so many options, what do you dooo? I know! You can build a game and experiment with some new code in the Magical Land of Shoes.
          %p.detail-info _why once said, "if you program and want any longevity to your work, make a game. all else recycles, but people rewrite architectures to keep games alive."
          %p.detail-info It's important to step out of your comfort zone and try somethi ill give you a whirlwind tour and cover the essentials that Shoes has to offer.
          %p.detail-info Together we can build a fun little game you can share with your friends, and inspire you to venture to places you're unaccustomed to.
      %li.detail-section#segal
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/loren.jpg', :alt => 'Loren Segal'}
        .speaker-info
          %h2.detail-title Loren Segal
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/lsegal', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/lsegal', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info.speaker-talk Towards Tooling; A Look at What is Missing From Our Toolbox
          %p.detail-info You can usually judge the maturity of a programming language ecosystem by the breadth of its tooling. For example, Java has a plethora of IDEs that each, in turn, have many well maintained refactoring and code quality plugins (like FindBugs and PMD). C/C++ is equally well established in this space. Even JavaScript is becoming well represented, with a number of static code analyzers and language supersets (like Dart and TypeScript) aimed at improving tooling in the language. But where is Ruby in all o ill shed some light on the existing tools available in the Ruby world as well as some new tools just starting to be built out in the areas of static analysis, formal verification, and code quality checking. We will look at what kind of tools the Ruby community is good at building, what kind of tools we are bad at, and most of all, some of the tooling we should be working on to really improve our ecosystem and drive more developers to this wonderful language.

      %li.detail-section#sharp
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/sharp.jpg', :alt => 'Dan Sharp'}
        .speaker-info
          %h2.detail-title Dan Sharp
          .speaker-links
            %a.speaker-link{:href => 'http://www.linkedin.com/in/mrdrsharp', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Dan is a life-long geek, having been fascinated with computers since early childhood. He cut his teeth, like many, on Java and PHP, but found Ruby via Ruby on Rails in 2005... building one of the first successful Rails-based SaaS ventures&#133; and never looking back. These days, Dan works as Senior Software Architect with the Nexia&#153; team at Ingersoll Rand, affording him the luxury of a startup environment backed by a multi-billion dollar company. He resides in Golden, CO with his wife and two children. When not hacking code, he's usually lost in the back country somewhere, enjoying the great outdoors.
          %p.detail-info.speaker-talk Killing Fibonacci
          %p.detail-info Testing is an important part of the development lifecycle of any software solution. It is particularly important in the Ruby community with lots of real and perceived pressure to test first, test often and test fully (or at least 90% coverage, right?). However, there has not been as much focus on the why of testing as a mechanism to encourage good code practices, good design decisions and coverage that is meaningful. This presentation aims to change all that. I will start with a brief overview of ruby testing: the why, what, how, when and where. For the rest of the presentation, I will take the Fibonnaci sequence and deconstruct it via a tongue-in-cheek approach to showcase why Good Testing™ is so much more important than Testing&#133; and why tests should force the developer to think deeper about their code&#133; not just as implementation but as behavior!
          %p.detail-info (The killing of Fibonacci will take place live. However no animals or Italian mathematicians will be harmed during the talk.)

      %li.detail-section#singh
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/singh.jpg', :alt => 'Neeraj Singh'}
        .speaker-info
          %h2.detail-title Neeraj Singh
          .speaker-links
            %a.speaker-link{:href => 'http://twitter.com/neerajdotname', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/neerajdotname', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://bigbinary.com/neeraj', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Neeraj loves ruby, JavaScript and open source culture. He has contributed to open source projects like RubyOnRails, jQuery-ujs, Spree and ActiveMerchant . He is based in Miami and runs BigBinary, a RubyOnRails consulting firm.
          %p.detail-info.speaker-talk ActiveRecord is still magical
          %p.detail-info ActiveRecord is complex code and because of complexity it has edge cases. In fact lots of edge cases. We will take a look at a number of ActiveRecord features to see how it works and how to deal with some of the edge cases.
          %p.detail-info We will see how default_scope works. And why method "unscoped" removes default_scope from models but not from associations.
          %p.detail-info Do you know the difference between CollectionProxy and Relation ? Do you know why in a has_many through case "@physician.patients.create!" would work but "@physician.patients.where(active: true).create! would silently fail without creating the association record?
          %p.detail-info We will discuss why while patching Active Record you should run your tests against all three databases.
          %p.detail-info Guess which of these two obey :destroy option: @customer.orders.delete(@order) or @customer.orders.destroy(@order).
          %p.detail-info In Rails 3 when where conditions are merged then the last where condition wins. In Rails 4 all the where conditions are 'And'ed. But not defautl_scope. We will see how and why.
          %p.detail-info Will also discuss implementation detail of features like inverse_of, autosave and callbacks.
      %li.detail-section#somerville
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/charlie.jpg', :alt => 'Charlie Somerville'}
        .speaker-info
          %h2.detail-title Charlie Somerville
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/charliesome', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/charliesome', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.detail-info.speaker-talk Talk TBD
      %li.detail-section#vargo
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/vargo.jpg', :alt => 'Seth Vargo'}
        .speaker-info
          %h2.detail-title Seth Vargo
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/sethvargo', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/sethvargo', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://sethvargo.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.detail-info Seth is a long-time Ruby developer who landed in operations as a Solutions Engineer at Opscode. While his degree is in Information Systems from Carnegie Mellon, Seth specializes in Ruby development and system administration. But most importantly, Seth is incredibly lazy, which is why automation and DRY are two principles that are practiced in his daily life. An author or core contributor to projects such as fauxhai, chefspec, berkshelf, bootstrap_forms, powify, and more, Seth believes in the power of the open source and community.
          %p.detail-info.speaker-talk Using Ruby to Automate Your Life
          %p.detail-info You probably use Ruby everyday, so why not use Ruby to automate some common tasks? What if you could spin up an EC2 instance and have it automatically configure your web server, database, users, and more? What if you could effectively capture and replicate your production environments reliably and consistently? What if you could then give developers production-like environments as Virtual Machines, with no additional work? What if you could set up your new laptop with multiple Ruby versions, your favorite software, and even change the desktop background - from a single command? The good news is - you can!
          %p.detail-info Chef is a configuration management and automation tool that solves these problems and many m you'll learn common just how easy it is to capture your infrastructure in Chef. Save time and money by using Chef's Ruby DSL to "define" your laptop.
          %p.detail-info How many times have you bought a new laptop and realize just how much stuff you installed over the years? If you're using Chef, run a single command and all your favorite Applications, Preferences, and even passwords are back in place. And the best part - because Chef is written in Ruby, you get to continue using the language you love!

.triangle.triangle--end
