.triangle.triangle-start-index

%section.detail-page
  %h1.section-title Speakers
  .section-wrap
    %ul.speakers-index
      %li.speaker-index#aimonetti
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/matt.jpg', :alt => 'Matt Aimonetti'}
        .speaker-info
          %p.speaker-name.italic Matt Aimonetti
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/mattetti', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/mattetti', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#cheng
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/joanne.jpg', :alt => 'Joanne Cheng'}
        .speaker-info
          %p.speaker-name.italic Joanne Cheng
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/joannecheng', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jc-2', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://plastic-cities.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.speaker-bio Joanne is a developer for thoughtbot, inc. in Denver, CO, happily writing code all day. When she's not writing code for thoughtbot, inc., she works on open source projects that benefit the state of Colorado and its citizens through Code for Communities. She was once a classical musician in training.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} Creativity with Ruby-Processing
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#liles
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/bryan.jpg', :alt => 'Bryan Liles'}
        .speaker-info
          %p.speaker-name.italic Bryan Liles
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/bryanl', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/bryanl', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#mcanally
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/jeremy.jpg', :alt => 'Jeremy McAnally'}
        .speaker-info
          %p.speaker-name.italic Jeremy McAnally
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/jm', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/jm', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://jeremymcanally.com', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.speaker-bio I am awesome.  Actually, that's rather false, but I really like Boston a lot.  That counts for something, right?
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} RubyMotion: America's iOS Framework
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#mcclain
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/dan.jpg', :alt => 'Dan McClain'}
        .speaker-info
          %p.speaker-name.italic Dan McClain
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/_danmcclain', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/danmcclain', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://danmcclain.net', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.speaker-bio I am the author of the postgre_ext gem, which adds ActiveRecord and Arel support for PostgreSQL datatypes, and contributed commits to Rails 4.0 that added PostgreSQL array support.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} Supercharging ActiveRecord with PostgreSQL
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#mccoy
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/sheena.jpg', :alt => 'Sheena McCoy'}
        .speaker-info
          %p.speaker-name.italic Sheena McCoy
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/sheenapmccoy', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#metz
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/sandi.jpg', :alt => 'Sandi Metz'}
        .speaker-info
          %p.speaker-name.italic Sandi Metz
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/sandimetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/skmetz', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://sandimetz.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#myers
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/rachel.jpg', :alt => 'Rachel Myers'}
        .speaker-info
          %p.speaker-name.italic Rachel Myers
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/rachelmyers', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/rachelmyers', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#savas
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/foy.jpg', :alt => 'Foy Savas'}
        .speaker-info
          %p.speaker-name.italic Foy Savas
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/foysavas', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
            %a.speaker-link{:href => 'http://www.foysavas.com/', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'W'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#scott
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/zachary.jpg', :alt => 'Zachary Scott'}
        .speaker-info
          %p.speaker-name.italic Zachary Scott
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/_zzak', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/zzak', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} Which talk?
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#segal
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/loren.jpg', :alt => 'Loren Segal'}
        .speaker-info
          %p.speaker-name.italic Loren Segal
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/lsegal', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/lsegal', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???
        .break
          %p &bull; &bull; ⚫ &bull; &bull;
      %li.speaker-index#somerville
        %img.speaker-pic.speaker-pic-index{:src => '/speakers/charlie.jpg', :alt => 'Charlie Somerville'}
        .speaker-info
          %p.speaker-name.italic Charlie Somerville
          .speaker-links
            %a.speaker-link{:href => 'https://twitter.com/charliesome', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'T'}
            %a.speaker-link{:href => 'https://github.com/charliesome', :target => '_blank', 'aria-hidden' => 'true', 'data-icon' => 'G'}
          %p.speaker-bio ??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a venenatis velit. Cras auctor dui non tortor elementum adipiscing. Duis malesuada bibendum neque quis facilisis. Aenean molestie, felis quis lacinia varius, eros odio volutpat nibh, in egestas sapien lacus quis ante. Duis scelerisque eleifend egestas. Vestibulum tincidunt erat eget congue euismod.
          %p.speaker-talk
            Talk:
            %a.section-info-link{:href => '#'} ???

.triangle.triangle-end
