.triangle.triangle--start-detail

%section.detail-page
  %h1.section__title Workshop
  .wrap
    %h2.detail-title Refactoring Rails Workshop
    %p.detail-info  When met with a tangled code­base, how do you decide what to refactor? How do you know if you're making progress?
    %p.detail-info Blog posts and books can make it look easy. "Here's the synthetic example, now use X scripted transformation." Unfortunately, codebases in the wild do not come with the right refactoring patterns hyperlinked.
    %p.detail-info In this hands­on workshop you will be presented with an actual Rails application ripe with code smells, tight coupling, leaky encapsulation, and missing abstractions. It's much more than a code sample, written by a real team of developers under a deadline.
    %p.detail-info We will practice identifying issues, explore strategies to attack them, and put them into practice. This is not a walk­through of every refactoring in the cannon; this is practical application of great techniques. After this workshop you will be armed to attack your own legacy applications.
    %p.detail-info
      Thanks to
      %a.section-info-link{href: 'http://jumpstartlab.com/', target: '_blank'} JumpstartLab
      for sponsoring this workshop! The workshop will be held at
      %a.section-info-link{href: 'http://dockyard.com/', target: '_blank'} DockYard
      , which is located at
      %a.section-info-link{href: 'https://www.google.com/maps?q=dockyard&sll=42.314350000000005,-70.970284&sspn=0.39002884265905535,0.7033694882520845&t=m&dg=opt&hq=dockyard&z=16'} 101 Tremont St Boston, MA 02108
      &#046;

    %h2.detail-title Prerequisites
    %p.detail-info A laptop with a working ruby development environment: ruby 1.9.3, git, any OS with compilation support (GCC on Unix, DevKit on Windows) and a working understanding of Ruby and Rails (3+ months experience)

    %h2.detail-title Schedule
    %p.detail-info
      Session 1: Intro, Exploration/Discovery
      %br
      Session 2: Introducing Duplication &ndash;­ 1 step back, 2 steps forward
      %br
      Session 3: Collapsing Duplication
      %br
      Session 4: Model, View, Controller &amp; Retrospective

    %a.section__button{href: 'http://wickedgoodruby2013.eventbrite.com/', target: '_blank'} Register for the workshop

.triangle.triangle--end
