@import load

.intro
  padding-top: 3em
  @media (min-width: 1200px)
    float: left
    width: 25%
    background:
      color: $gray
      size: 300px 300px
    @-moz-document url-prefix()
      max-width: 400px

.logo
  @include center
  display: block
  height: 250px
  width: 250px
  background-image: url(/logo.svg)
  background-image: url(/logo.png)\9

.intro__copy, .intro__callout
  color: $black

.intro__copy
  @include center
  margin:
    top: 1em
    bottom: 1em
  width: 80%
  max-width: 500px

.intro__callout
  font-size: 1.5em

.intro-is-fixed
  @media (min-width: 1200px)
    position: fixed
    height: 100%
