@import compass/reset
@import compass/css3

$black: #192126
$red: #ed4543
$gray: #E4E4E4
$white: #FFFFFF

@font-face
  font:
    family: 'fontello'
    weight: normal
    style: normal
  src: url('/fonts/fontello.eot') format('eot'), url('/fonts/fontello.woff') format('woff'), url('/fonts/fontello.ttf') format('truetype')

//once copy is finalized, limit character set to blanch for only the ones needed.
@font-face
  font:
    family: 'blanch'
    weight: normal
    style: normal
  src: url('/fonts/blanch.eot') format('eot'), url('/fonts/blanch.woff') format('woff'), url('/fonts/blanch.ttf') format('truetype')

html
  background:
    color: $gray
    image: url(/bg.png)
    size: 300px 300px

body
  background:
    image: url(/rubies.png)
    position: top center
  font:
    family: lato
    size: 18px
  line-height: 1.5

a, h1, h2, p, span
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

a
  text-decoration: none

p
  @media (min-width: 750px)
    max-width: 600px
    margin:
      left: auto
      right: auto

::selection
  background: rgba($red, .5)

::-moz-selection
  background: rgba($red, .5)