@import compass/reset
@import compass/css3

$black: #192126
$red: #ed4543
$gray: #E4E4E4
$white: #FFFFFF

@font-face
  font:
    family: 'fontello'
    weight: normal
    style: normal
  src: url('/fonts/fontello.eot')
  src: url('/fonts/fontello.eot?#iefix') format('embedded-opentype'), url('/fonts/fontello.woff') format('woff'), url('/fonts/fontello.ttf') format('truetype'), url('/fonts/fontello.svg#fontello') format('svg')

@font-face
  font:
    family: 'blanch'
    weight: normal
    style: normal
  src: url('/fonts/blanch.eot')
  src: url('/fonts/blanch.eot?#iefix') format('embedded-opentype'), url('/fonts/blanch.woff') format('woff'), url('/fonts/blanch.ttf') format('truetype'), url('/fonts/blanch.svg#blanch') format('svg')

html
  background:
    color: $gray
    image: url(/bg.png)
    size: 300px 300px

body
  background:
    image: url(/rubies.png)
    position: top center
  font:
    family: lato
    size: 18px
  line-height: 1.5

body *
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

p
  max-width: 600px
  @media (min-width: 750px)
    margin-left: auto
    margin-right: auto
    text-align: center

::selection
  background: rgba($red, .5)

::-moz-selection
  background: rgba($red, .5)