@import compass/css3

$black: #363636
$red: #ed4543
$white: #FFFFFF
$gray: #E7E7E7

.wicked
  width: 250px
  height: 250px
  margin: 0 auto
.logo, .hub
  display: block
  background:
    repeat: no-repeat
    size: cover
  width: 250px
  height: 250px
.logo
  position: absolute
  z-index: 10
  background-image: url(/logo/logo.svg)
.hub
  position: relative
  z-index: 9
  background-image: url(/logo/hub.svg)
  +transition-property(rotate)
  +transition-duration(2s)
.logo:hover + .hub
  //+rotate(45deg)
.content
  padding-top: 3.75em
  position: absolute
  height: 500px
  background:
    image: url(/rubies.png)
    repeat: repeat
    size: 400px
    position: center
  @media (min-width: 580px) and (max-width: 860px)
    background-image: url(/rubies2.png)
  .intro
    color: $black
    width: 80%
    text-align: center
    margin: 1em auto
    position: relative
    z-index: 8
    max-width: 500px
  .date
    color: $black
    font:
      weight: 400
      size: 1.5em
    text-align: center
    position: relative
    z-index: 5
  .register
    color: $white
    font:
      family: blanch
      size: 42px
    text:
      decoration: none
      align: center
    background-color: $red
    margin: 0 auto
    border: 3px solid $gray
    +border-radius(5px)
    line-height: 1.2
    display: block
    width: 130px
    z-index: 5
    position: relative
    &:hover
      +scale(1.05)
  .triangle
    background:
      image: url(/triangle.png)
      repeat: no-repeat
      size: 100% 80px
    height: 80px
    position: relative
    top: -5em
    z-index: 3
  #main-wrap
    position: relative
    top: -9.4em
    background:
      color: $black
      image: url(/bg.png)
    z-index: 1
    padding: 6em 0 12em
    #main
      width: 80%
      margin: 0 auto
      #speakers
        ul
          li
            width: 100%
            float: left
            margin: 1em 0
            @media (min-width: 650px) and (max-width: 1000px)
              width: 49%
              float: left
              margin-right: 2%
              &:nth-child(2n+2)
                margin-right: 0
            .speaker
              width: 100%
              height: 280px
              display: block
              background:
                size: cover
                repeat: no-repeat
                position: center
              +border-radius(5px)
              margin-bottom: 1em
              .overlay
                display: inline-block
                opacity: 0
                +transition-duration(1s)
                +transition-property(opacity)
                background-color: rgba($red,.65)
                width: 80%
                @media (min-width: 650px)
                  width: 39.25%
                @media (min-width: 1000px)
                  width: 25.5%
                height: 280px
                position: absolute
                +border-radius(5px)
                &:hover
                  opacity: 1
                .links
                  position: relative
                  top: 4em
                  a
                    line-height: 1.75
                    margin: 0 auto
                    display: block
                    font-size: 1.25em
                    text:
                      align: center
                      decoration: none
                    color: $white
                    width: 200px
                    padding: 5px
                    +border-radius(5px)
                    &:hover
                      background-color: $red
                    span
                      font-family: fontello
            #speaker1
              background-image: url(/speakers/dan_m.jpg)
            #speaker2
              background-image: url(/speakers/amanda.jpg)
            #speaker3
              background-image: url(/speakers/doug.jpg)
            #speaker4
              background-image: url(/speakers/avatar.jpg)
            h1, p
              text-align: center
            h1
              font-weight: bold
            p
              font-style: italic
        h2
          clear: both
      #sponsors
        p
          @media (min-width: 800px)
            margin-bottom: 1em
        li
          margin: 1em 0
          @media (min-width: 800px) and (max-width: 1000px)
            width: 49%
            margin-right: 2%
            float: left
            margin-top: 0
            &:nth-child(2n+2)
              margin-right: 0
          a
            display: block
            background-color: $white
            +border-radius(5px)
            @media (min-width: 800px) and (max-width: 1000px)
              height: 150px
          img
            width: 200px
            margin: 0 auto
            display: block
            padding: 1em
            @media (min-width: 500px)
              width: 250px
              padding: 2em
      #location
        h1
          font-size: 1.5em
        h1, .address
          text-align: center
          display: block
        .wilbur
          background:
            image: url(/location/wilbur.jpg)
            position: center center
            size: cover
          +border-radius(5px)
          height: 300px
          width: 100%
          margin: 1em 0
          +transition-duration(1s)
          +transition-property(background-image)
          @media (min-width: 1000px)
            height: 500px
          &:hover
            background:
              image: url(/location/wilbur2.jpg)
      #speakers, #sponsors, #location
        @media (min-width: 1000px)
          width: 30%
          float: left
          margin-right: 2%
          &:nth-child(3n)
            margin-right: 0
  .triangle-end
    background:
      image: url(/triangle-end.png)
      repeat: no-repeat
      size: 100% 80px
    height: 80px
    position: relative
    top: -13.8em
    z-index: 3
    clear: both
    @media (min-width: 600px)
      background-size: 100% 120px
      height: 120px
      top: -16.05em
  .terrier-wrapper
    position: relative
    height: 300px
    top: -10em
    overflow: hidden
    margin: 0 auto
    width: 300px
  .terrier
    height: 300px
    position: absolute
    width: 100%
    top: 20em
    background:
      image: url(/terrier.svg)
      repeat: no-repeat
      size: 300px 300px