@import compass/css3

$black: #07011C
$red: #f13f2d

.content-wrap
  float: right
  margin: 0 2.5em 0 330px
  .content
    .intro p
      font:
        family: georgia
        style: italic
        size: 1.3em
      margin-bottom: 16px

    #speakers
      ul
        li
          width: 240px
          float: left
          margin: 1em 3% 1em 0
          .speaker
            width: 100%
            height: 240px
            display: block
            background-size: 240px 240px
            +border-radius(5px)
            margin-bottom: 1em
            .overlay
              display: inline-block
              opacity: 0
              +transition-duration(1s)
              +transition-property(opacity)
              background-color: rgba($red,.75)
              width: 240px
              height: 240px
              position: absolute
              +border-radius(5px)
              &:hover
                opacity: 1
              .links
                position: relative
                top: 3em
                a
                  line-height: 1.75
                  margin: 0 auto
                  display: block
                  font-size: 1em
                  text-align: center
                  text-decoration: none
                  color: white
                  width: 150px
                  padding: 5px
                  +border-radius(5px)
                  &:hover
                    background-color: $red
                  span
                    font-family: fontello
                      
                    
                    
          #speaker1
            background-image: url(/brian.png)
          #speaker2
            background-image: url(/dan_m.png)
          #speaker3
            background-image: url(/amanda.png)
          #speaker4
            background-image: url(/doug.png)
          #speaker5
            background-image: url(/dan_c.png)
          p
            text-align: center
      h2
        clear: both
    #venue
      img
        width: 100%
        +border-radius(5px)
    #location
      height: 50em