@import compass/reset
@import compass/css3

$black: #07011C
$red: #F13F2D

html, body
  margin: 0 auto
  max-width: 1200px
  height: 100%
  color: white
  background-color: $black
  font-size: 22px
  font-family: melbourne
  line-height: 1.5

h1
  text-transform: uppercase
  font-size: 2em
  font-weight: bold
  color: $red
  margin-top: 70px

::selection
  background: rgba($red, .5)

::-moz-selection
  background: rgba($red, .5)