@import compass/css3

$black: #192126
$red: #ed4543
$gray: #E4E4E4
$white: #FFFFFF

header
  width: 100%
  display: block

#main-wrap
  background-color: $black
  color: $white

.main-info
  width: 80%
  margin: 0 auto
  padding-top: 2em

section
  max-width: 1200px
  margin: 0 auto
  padding:
    top: .25em
    bottom: 4em

.article-info
  margin-bottom: 1em
  @media (min-width: 750px)
    text-align: center
    margin-left: auto
    margin-right: auto
  @media (min-width: 1200px)
    margin-right: 0
    text-align: right
    width: 600px

.speaker
  margin-bottom: 2em
  @media (min-width: 600px) and (max-width: 1200px)
    width: 49%
    float: left
    margin-right: 2%
    &:nth-child(2n)
      margin-right: 0
  @media (min-width: 1200px)
    width: 32%
    float: left
    margin-right: 2%
    &:nth-child(3n+3)
      margin-right: 0

.sponsor
  margin-bottom: 1em
  position: relative
  @media (min-width: 800px) and (max-width: 1200px)
    float: left
    width: 49%
    margin-right: 2%
    &:nth-child(2n+2)
      margin-right: 0
  @media (min-width: 1200px)
    width: 32%
    float: left
    margin-right: 2%
    &:nth-child(3n+3)
      margin-right: 0